Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

some fix
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration.feature
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix(behat): avoid stale element in poller configuration listing page (#6523)
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

chore(E2E) : Adding new command into resource status directory (#6522)
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration.feature
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration/index.ts
  centreon/tests/e2e/features/Resources-status/05-filtre/index.ts
  centreon/tests/e2e/features/Resources-status/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

enh(Top counter): improved top counter display management (#6343)
  centreon/composer.lock
  centreon/config/symfony_serializer/Common/NotEmptyString.yaml
  centreon/config/symfony_serializer/User/FindUserPermissionsResponse.yaml
  centreon/config/symfony_serializer/User/Permission.yaml
  centreon/packages/ui-context/src/index.ts
  centreon/packages/ui-context/src/types.ts
  centreon/packages/ui-context/src/userPermissionsAtom.ts
  centreon/phpstan.core.neon
  centreon/src/Centreon/Infrastructure/Contact/ContactRepositoryRDB.php
  centreon/src/Core/Common/Infrastructure/Normalizer/NotEmptyStringNormalizer.php
  centreon/src/Core/User/Application/UseCase/FindUserPermissions/FindUserPermissions.php
  centreon/src/Core/User/Application/UseCase/FindUserPermissions/FindUserPermissionsResponse.php
  centreon/src/Core/User/Domain/Model/Permission.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsController.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsResponseNormalizer.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsRoute.yaml
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/PermissionNormalizer.php
  centreon/www/front_src/src/App/endpoint.ts
  centreon/www/front_src/src/App/useApp.ts
  centreon/www/front_src/src/Header/Poller/usePollerData.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-php, @centreon/owners-qa, @centreon/owners-react

fix
  centreon/www/front_src/src/App/useApp.ts
Owners: @centreon/owners-react, @centreon/owners-qa

Fix backend conflicts
  centreon/composer.lock
  centreon/src/Centreon/Domain/Contact/Contact.php
Owners: @centreon/owners-php, @centreon/owners-qa

lint
  centreon/packages/ui-context/src/types.ts
  centreon/packages/ui-context/src/userPermissionsAtom.ts
Owners: @centreon/owners-react, @centreon/owners-qa

linting web
  centreon/www/front_src/src/Header/Poller/usePollerData.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix & linting
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

linting
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix tests
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

linting & update snapshots
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Header/specs/Header.cypress.spec.tsx/User Menu -- using the dark mode.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Header/specs/Header.cypress.spec.tsx/User Menu -- using the light mode.snap.png
  centreon/www/front_src/src/Header/specs/Header.testUtils.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

Fix linting
  centreon/src/Core/Common/Infrastructure/Normalizer/NotEmptyStringNormalizer.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsController.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsResponseNormalizer.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/PermissionNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

Add missing files
  centreon/src/Centreon/Application/Controller/AbstractController.php
  centreon/src/Core/Application/Common/UseCase/ListingResponseInterface.php
  centreon/src/Core/Application/Common/UseCase/StandardPresenterInterface.php
  centreon/src/Core/Application/Common/UseCase/StandardResponseInterface.php
  centreon/src/Core/Common/Domain/NotEmptyString.php
  centreon/src/Core/Infrastructure/Common/Api/StandardPresenter.php
  centreon/src/Core/User/Domain/Model/Permission.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsResponseNormalizer.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/PermissionNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update route configuration
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsRoute.yaml
Owners: none

fix (media): SVG clean-up after downloading (#6069)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

PR review feedback
  centreon/www/class/centreonConfigCentreonBroker.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

some fixes
  centreon/tests/e2e/features/HostGroups/02-host-group-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/commands.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fix (media): SVG clean-up after downloading (#6069)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update index.ts
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix prettier lint
  centreon/tests/e2e/features/Contacts/01-contact-configuration/index.ts
  centreon/tests/e2e/features/Contacts/02-contact-group-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/02-configurationWarnings/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/04-service-group-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/05-service-template-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/06-generate-service-contact/index.ts
  centreon/tests/e2e/features/Services-configuration/10-meta-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
Owners: @centreon/owners-cypress-e2e

fix(smarty) : extends tag fixed and error handling added for the displaying of smarty templates (#6508)
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/composer.json
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/common/templates/error.ihtml
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(RS): Add flapping in Resources By Parent (#6382)
  centreon/doc/API/latest/onPremise/Realtime/Resources/FindResourcesByParent.yaml
  centreon/doc/API/latest/onPremise/Realtime/Resources/QueryParameter/FilterState.yaml
  centreon/doc/API/latest/onPremise/Realtime/Resources/Schema/ResourceLightened.yaml
  centreon/src/Core/Resources/Infrastructure/API/FindResourcesByParent/FindResourcesByParentPresenter.php
  centreon/www/install/php/Update-25.01.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

feat(services): Implement an endpoint to bulk delete services (#6425)
  centreon/doc/API/centreon-api.yaml
  centreon/doc/API/latest/onPremise/Configuration/Service/DeleteServices.yaml
  centreon/src/Core/Application/Common/UseCase/BulkResponseInterface.php
  centreon/src/Core/Common/Domain/ResponseCodeEnum.php
  centreon/src/Core/Infrastructure/Common/Api/Router.php
  centreon/src/Core/Infrastructure/Common/Api/StandardPresenter.php
  centreon/src/Core/MonitoringServer/Infrastructure/Repository/DbWriteMonitoringServerRepository.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesRequest.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesResponse.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesStatusResponse.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesController.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesInput.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesRequestTransformer.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesRoute.yaml
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesStatusResponseNormalizer.php
  centreon/src/Core/Service/Infrastructure/Voters/ServiceVoters.php
  centreon/tests/php/Core/Infrastructure/Common/Api/RouterTest.php
  centreon/tests/php/Core/Service/Application/UseCase/DeleteServices/DeleteServicesTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(RS): Add flapping in Resources By Parent (#6382)
  centreon/doc/API/latest/onPremise/Realtime/Resources/FindResourcesByParent.yaml
  centreon/doc/API/latest/onPremise/Realtime/Resources/QueryParameter/FilterState.yaml
  centreon/doc/API/latest/onPremise/Realtime/Resources/Schema/ResourceLightened.yaml
  centreon/src/Core/Resources/Infrastructure/API/FindResourcesByParent/FindResourcesByParentPresenter.php
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(administration/parameters): refresh intervals for statistics fiel… (#6499)
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

PR review feedbacks, pt. 2
  centreon/www/class/centreonConfigCentreonBroker.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update symfony configuration file
  centreon/config/packages/framework.yaml
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Configuration): ACL aren't affected to a hostgroup when it's created by a non-admin user (#6348)
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
  centreon/www/include/configuration/configObject/hostgroup/listHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(administration/parameters): refresh intervals for statistics field should not accepts numbers less than 10 (#6381) (#6498)
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

fix(Configuration): ACL aren't affected to a hostgroup when it's created by a non-admin user (#6348)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
  centreon/www/include/configuration/configObject/hostgroup/listHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Resource Status): Unable to enable/disable compact mode(cs-fixer)
  centreon/src/Core/Application/Configuration/User/Exception/UserException.php
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Resource Status): Unable to enable/disable compact mode(remove the exception)
  centreon/src/Core/Application/Configuration/User/Exception/UserException.php
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Resource Status): Unable to enable/disable compact mode(rabbitp)
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
