Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-pipelines, @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-php, @centreon/owners-react, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python

add actions of listing
  centreon/www/front_src/src/AppTokens/tokenCreation/TokenCreationButton.tsx
  centreon/www/front_src/src/AppTokens/tokenCreation/index.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/Listing.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/Actions.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/index.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/refresh/Refresh.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/refresh/index.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/search/Search.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/search/filter/Filter.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/search/filter/atoms.ts
  centreon/www/front_src/src/AppTokens/tokenListing/actions/search/filter/index.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/actions/search/filter/models.ts
  centreon/www/front_src/src/AppTokens/tokenListing/actions/search/index.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/search/Search.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/search/index.tsx
  centreon/www/front_src/src/AppTokens/tokenListing/useTokenListing.ts
  centreon/www/front_src/src/AppTokens/translatedLabels.ts
  centreon/www/front_src/src/Resources/Filter/index.tsx
Owners: @centreon/owners-react

fix component test
  centreon/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/testUtils.ts
Owners: @centreon/owners-react

update snapshots
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel  Confirm Dialog -- confirms that the Confirm button triggers the sending of a PUT request.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the Expand/Collapse button triggers the desired expansion or collapse of the panel, providing users with the ability to control its visibility and size.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the ExpandCollapse button triggers the desired expansion or collapse of the panel, providing users with the ability to control its visibility and size.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the Include Services checkbox controls the enabling and checking of all host group services checkboxes.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the Message field is properly rendered with the edited notification message.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the Save button responds to field changes correctly, becoming enabled when a modification occurs and the form is error-free.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the Subject field is properly rendered with the edited notification subject.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the notification name is properly rendered with the edited value and supports the capability for users to modify the name by interacting with the Edit icon.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- confirms that the three icons for notification channels are appropriately presented, with the email icon initially selected and the other icons disabled.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- displays host group resources and events with the edited notification values.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- displays service groups and events fields with the edited notification values.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- displays the Contact Groups field with edited notification contact groups.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- displays the Contacts field with edited notification contacts.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that the Include Services field presents the value of the edited notification.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that the Save button's initial state is set to disabled.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that the form handles an empty name field correctly by showing an error message and disabling the Save button as a validation measure.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that the form handles an existing name field correctly by showing an error message and disabling the Save button as a validation measure.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that the header section displays all the expected actions.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that the time period checkbox is checked and disabled, indicating its pre-selected status.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that when the Host Groups field is empty, all event checkboxes are unchecked and the Include Services field is not visible.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- ensures that when the Service Groups field is empty, all associated events are disabled and unchecked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- validates that when both resource fields are empty, the user interface responds by displaying an error message and disabling the Save button.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- validates that when the Contacts and Contact Groups fields are both empty, the user interface responds by displaying an error message and disabling the Save button.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- validates that when the Message field is empty, the user interface responds by displaying an error message and disabling the Save button.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel -- validates that when the Subject field is empty, the user interface responds by displaying an error message and disabling the Save button.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Business Views -- displays Business Views and their events with the edited notification values.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Business Views -- ensures that when the BA field is empty, all associated events are disabled and unchecked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Business Views -- validates that when all resource fields are empty, the user interface responds by displaying an error message and disabling the Save button.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Delete button -- displays a confirmation dialog containing the notification name upon clicking the Delete button.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Delete button -- displays a success message after successful deletion.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Delete button -- displays an error message upon failed deletion.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Duplicate button -- disables the Confirm button if the name is empty or already exists.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Duplicate button -- disables the Duplicate button when changes are made.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Duplicate button -- displays a success message upon successful duplication.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Duplicate button -- displays an error message upon failed duplication request.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Duplicate button -- displays confirmation dialog with new notification name field on Duplicate button click.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/CloudNotificationsConfiguration/Panel/specs/PanelEdit.cypress.spec.tsx/Edit Panel Duplicate button -- validates that name field is not empty and not already taken.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Dashboards/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx/AddEditWidgetModal -- Properties -- displays the preview of the generic text widget when the generic text widget type is selected.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Dashboards/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx/AddEditWidgetModal -- Properties -- does not display the content of the generic text widget in the preview the show description switch is off.snap.png
  centreon/www/front_src/src/Dashboards/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
Owners: @centreon/owners-cypress-e2e, @centreon/owners-react

some changements
  centreon/tests/e2e/features/Dashboards/11-widget-top-bottom- configuration/index.ts
  centreon/tests/e2e/fixtures/dashboards/creation/widgets/dashboardWithTopBottomWidget.json
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

WIP
  centreon/packages/ui/src/Graph/LineChart/BasicComponents/useFilterLines.ts
  centreon/packages/ui/src/Graph/LineChart/Legend/InteractiveValue.tsx
  centreon/packages/ui/src/Graph/LineChart/Legend/Legend.styles.ts
  centreon/packages/ui/src/Graph/LineChart/Legend/LegendContent.tsx
  centreon/packages/ui/src/Graph/LineChart/Legend/LegendHeaderNew.tsx
  centreon/packages/ui/src/Graph/LineChart/Legend/Marker.tsx
  centreon/packages/ui/src/Graph/LineChart/Legend/index.tsx
  centreon/packages/ui/src/Graph/LineChart/Legend/useLegend.ts
  centreon/packages/ui/src/Graph/common/timeSeries/index.ts
Owners: @centreon/owners-react

fix
  .github/docker/centreon-gorgone/alma8/Dockerfile
  .github/docker/centreon-gorgone/alma9/Dockerfile
  .github/docker/centreon-gorgone/bullseye/Dockerfile
  .github/workflows/get-version.yml
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

Fix backgrounds
  centreon/packages/ui/src/ThemeProvider/palettes.ts
Owners: @centreon/owners-react

fix
  .github/docker/centreon-gorgone/alma8/Dockerfile
  .github/docker/centreon-gorgone/alma9/Dockerfile
  .github/docker/centreon-gorgone/bullseye/Dockerfile
Owners: @centreon/owners-pipelines

fix
  centreon-gorgone/packaging/centreon-gorgone.yaml
Owners: @centreon/owners-pipelines

fix
  centreon-gorgone/packaging/centreon-gorgone.yaml
Owners: @centreon/owners-pipelines

Fix tests
  centreon/www/widgets/src/centreon-widget-statusgrid/src/spec/StatusGrid.cypress.spec.tsx
  centreon/www/widgets/src/centreon-widget-statusgrid/src/spec/testUtils.ts
Owners: @centreon/owners-react

improve an assertion
  centreon/tests/e2e/features/Dashboards/10-widget-metric-graph-configuration/index.ts
Owners: @centreon/owners-gherkin

fix
  .github/docker/centreon-gorgone/bullseye/Dockerfile
  centreon-gorgone/packaging/centreon-gorgone.yaml
Owners: @centreon/owners-pipelines

.github/CODEOWNERS:

**/.github/             @centreon/owners-pipelines
**/.git*                @centreon/owners-pipelines
**/.project             @centreon/owners-pipelines
**/selinux/             @centreon/owners-pipelines
**/project/             @centreon/owners-pipelines
**/packaging/           @centreon/owners-pipelines

*.sh                    @centreon/owners-bash

*.po                    @centreon/owners-doc
*.md                    @centreon/owners-doc
*.mdx                   @centreon/owners-doc

**/config/              @centreon/owners-php
**/composer.*           @centreon/owners-php
**/tests/api/           @centreon/owners-php
**/tests/php/           @centreon/owners-php
**/tests/clapi_export/  @centreon/owners-php
**/www/                 @centreon/owners-php
**/tmpl/                @centreon/owners-php
**/bin/                 @centreon/owners-php
**/*.xml                @centreon/owners-php
**/phpstan.neon         @centreon/owners-php
*.php                   @centreon/owners-php
*.xsl                   @centreon/owners-php

**/www/front_src/       @centreon/owners-react
**/www/widgets/         @centreon/owners-react
package.json            @centreon/owners-react
package-lock.json       @centreon/owners-react
webpack*                @centreon/owners-react
babel.config.js         @centreon/owners-react
tsconfig.json           @centreon/owners-react
.prettierrc.js          @centreon/owners-react
.eslint*                @centreon/owners-react
.csslintrc              @centreon/owners-react
*.ts                    @centreon/owners-react
*.tsx                   @centreon/owners-react
*.jsx                   @centreon/owners-react

*.pm                    @centreon/owners-perl
*.pl                    @centreon/owners-perl

**/tests/e2e/**         @centreon/owners-cypress-e2e
**/cypress/**           @centreon/owners-cypress-e2e

**/features/            @centreon/owners-gherkin

*.py                    @centreon/owners-python
