Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

fix(ci): inject arg STABILITY in web dependencies dockerfiles
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): inject arg STABILITY in web dependencies dockerfiles
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): inject arg STABILITY in web dependencies dockerfiles
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): inject arg STABILITY in web dependencies dockerfiles
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

Fix services endpoint
  centreon/www/front_src/src/Resources/Filter/api/endpoint.ts
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/basicFilter/SelectInput.tsx
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/model.ts-E
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/utils.ts-E
Owners: @centreon/owners-react, @centreon/owners-qa

fix tests
  centreon/www/front_src/src/AdditionalConnectorConfiguration/Specs/Acc.modal.tsx
  centreon/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(Configuration): ACL aren't affected to a hostgroup when it's created by a non-admin user (#6348)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
  centreon/www/include/configuration/configObject/hostgroup/listHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

first part
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/Inputs/Metrics/Metrics.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetInputs.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/widgetProperties.styles.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-batree/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-clock/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-data/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-generictext/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-graph/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-groupmonitoring/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-resourcestable/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singledata/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singlemetric/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statuschart/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statusgrid/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-topbottom/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-webpage/properties.json
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix
  centreon/www/front_src/src/AdditionalConnectorConfiguration/Specs/Acc.modal.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

first part
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/Inputs/Metrics/Metrics.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetInputs.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/widgetProperties.styles.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-batree/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-clock/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-data/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-generictext/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-graph/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-groupmonitoring/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-resourcestable/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singledata/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singlemetric/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statuschart/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statusgrid/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-topbottom/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-webpage/properties.json
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ci): inject arg STABILITY in web dependencies dockerfiles (#6419)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): inject arg STABILITY in web dependencies dockerfiles (#6420)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

Revert composer.lock update
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

implementation of the gherkin file with cypress
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fixe(Poller/Agent Configuration): fix some missing translation (#6407)
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Filters -- updates the search bar with the value from the filters.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Listing -- deletes an ACC when the Delete button is clicked and the confirmation button is triggered.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Listing -- displays the first page of the ACC listing.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Modal -- Ask Before quit popup -- displays a modal when the form is updated and the cancel button is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Modal -- Ask Before quit popup -- displays a modal when the form is updated with errors and the cancel button is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Modal -- Form validation -- validates that at least one poller is required.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Modal -- displays form fields with the selected ACC values when the Modal is opened in Edition Mode.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Page -- displays listing, filters and action buttons.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Page -- opens the modal in Creation Mode when Add button is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/Additional Connctor Configuration -- Page -- opens the modal in Edition Mode when a row of the listing is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/column sorting --  executes a listing request when the Creation date column is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/column sorting --  executes a listing request when the Creator column is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/column sorting --  executes a listing request when the Last update column is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/column sorting --  executes a listing request when the Name column is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/column sorting --  executes a listing request when the Type column is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AdditionalConnectorConfiguration/Specs/ACC.cypress.spec.tsx/column sorting --  executes a listing request when the Updated by column is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- backs to the form when the Stay button of the popup is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- displays the CMA form when the CMA agent type is selected.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- leaves the form when the Leave button of the popup is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- leaves to the form when the Leave button of the popup is clicked.snap.png
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/packages/ui/src/InputField/Select/Autocomplete/index.tsx
  centreon/packages/ui/src/InputField/translatedLabels.ts
  centreon/www/front_src/src/AdditionalConnectorConfiguration/Specs/Acc.modal.tsx
  centreon/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx
  centreon/www/front_src/src/AgentConfiguration/Form/useInputs.ts
  centreon/www/front_src/src/AgentConfiguration/translatedLabels.tsx
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-doc

tests and auto feedback
  centreon/src/Core/Application/Common/UseCase/BulkResponseInterface.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesStatusResponse.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesController.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesInput.php
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesResponseNormalizer.php
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesStatusResponseNormalizer.php
  centreon/src/Core/Service/Infrastructure/Voters/ServiceVoters.php
  centreon/tests/php/Core/Infrastructure/Common/Api/RouterTest.php
  centreon/tests/php/Core/Service/Application/UseCase/DeleteServices/DeleteServicesTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(Resource status): adjust the size of the graphs to fit the available width (#6380)
  centreon/www/front_src/src/Resources/Details/tabs/Services/Graphs.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

api doc
  centreon/doc/API/centreon-api.yaml
  centreon/doc/API/latest/onPremise/Configuration/Service/DeleteServices.yaml
Owners: none

fix(docker): do not use unstable repos on testing branches (#6109)
  .github/docker/centreon-web/alma8/Dockerfile
  .github/docker/centreon-web/alma8/Dockerfile.dependencies
  .github/docker/centreon-web/alma9/Dockerfile
  .github/docker/centreon-web/alma9/Dockerfile.dependencies
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/docker/centreon-web/jammy/Dockerfile.dependencies
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

enh(ci): manage stability in dependencies containers (#6426)
  .github/docker/centreon-web/alma8/Dockerfile
  .github/docker/centreon-web/alma8/Dockerfile.dependencies
  .github/docker/centreon-web/alma9/Dockerfile
  .github/docker/centreon-web/alma9/Dockerfile.dependencies
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/docker/centreon-web/jammy/Dockerfile.dependencies
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

enh(ci): manage stability in dependencies containers (#6426)
  .github/docker/centreon-web/alma8/Dockerfile
  .github/docker/centreon-web/alma8/Dockerfile.dependencies
  .github/docker/centreon-web/alma9/Dockerfile
  .github/docker/centreon-web/alma9/Dockerfile.dependencies
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/docker/centreon-web/jammy/Dockerfile.dependencies
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

enh(ci): manage stability in dependencies containers (#6426) (#6428)
  .github/docker/centreon-web/alma8/Dockerfile
  .github/docker/centreon-web/alma8/Dockerfile.dependencies
  .github/docker/centreon-web/alma9/Dockerfile
  .github/docker/centreon-web/alma9/Dockerfile.dependencies
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/docker/centreon-web/jammy/Dockerfile.dependencies
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

style
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesStatusResponseNormalizer.php
  centreon/src/Core/Service/Infrastructure/Voters/ServiceVoters.php
Owners: @centreon/owners-php, @centreon/owners-qa

Fix phpstan
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/PermissionNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(test): use target stability in e2e upgrade tests (#6354) (#6361)
  .github/actions/cypress-e2e-testing/action.yml
  .github/workflows/cypress-e2e-parallelization.yml
  .github/workflows/open-tickets.yml
  .github/workflows/web.yml
  centreon/packages/js-config/cypress/e2e/configuration.ts
  centreon/tests/e2e/features/Platform-upgrade-update/common.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix
  centreon/www/widgets/src/centreon-widget-resourcestable/src/Listing/Columns/State/Chip/Flapping.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix lint
  centreon/packages/ui/src/Collapse/Collapse.tsx
  centreon/packages/ui/src/Collapse/collapse.styles.ts
  centreon/packages/ui/src/Collapse/index.stories.tsx
  centreon/packages/ui/src/Collapse/index.tsx
  centreon/packages/ui/src/index.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetInputs.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/widgetProperties.styles.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-batree/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-clock/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-data/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-generictext/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-graph/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-groupmonitoring/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-resourcestable/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singledata/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singlemetric/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statuschart/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statusgrid/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-topbottom/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-webpage/properties.json
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix (acl): indicates that ACLs need to be recalculated after services have been deployed (#5834)
  centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/host.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  centreon/packages/ui/src/Icon/DowntimeIcon.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

enh(Resource status): adjust the size of the graphs to fit the available width (#6380)
  centreon/www/front_src/src/Resources/Details/tabs/Services/Graphs.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

linting
  centreon/www/front_src/src/Resources/Details/tabs/Services/Graphs.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

linting
  centreon/www/front_src/src/Resources/Details/tabs/Services/Graphs.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fixes
  centreon/packages/ui/src/Collapse/Collapse.tsx
  centreon/packages/ui/src/Collapse/collapse.styles.ts
  centreon/packages/ui/src/Collapse/index.stories.tsx
  centreon/packages/ui/src/Collapse/index.tsx
  centreon/packages/ui/src/Dialog/Confirm/index.tsx
  centreon/packages/ui/src/Dialog/index.tsx
  centreon/packages/ui/src/InputField/Select/Autocomplete/Draggable/index.tsx
  centreon/packages/ui/src/api/useMutationQuery/useOptimisticMutation.ts
  centreon/packages/ui/src/components/CollapsibleItem/CollapsibleItem.tsx
  centreon/packages/ui/src/index.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/widgetProperties.styles.ts
Owners: @centreon/owners-react, @centreon/owners-qa

phpstan
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesStatusResponseNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(ci): add repo esr to 22.10 rpm delivery
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
Owners: @centreon/owners-pipelines

add delivery test
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

Revert "add delivery test"
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

Optimize bar chart
  centreon/packages/ui/src/Graph/BarChart/BarGroup.tsx
  centreon/packages/ui/src/Graph/BarChart/MemoizedGroup.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/Inputs/Slider/useSlider.ts
Owners: @centreon/owners-react, @centreon/owners-qa

add trad
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/models.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statusgrid/properties.json
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa

composer.json updated to add the stable version for centreon/smarty
  centreon/composer.json
Owners: @centreon/owners-php, @centreon/owners-qa

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
