Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

chore(release) bump open tickets to 24.04.4
  centreon-open-tickets/www/modules/centreon-open-tickets/conf.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump open tickets to 24.04.4
  centreon-open-tickets/www/modules/centreon-open-tickets/upgrade/24.04.4/.gitignore
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump open tickets to 24.04.4
  centreon-open-tickets/.version
Owners: none

chore(release) bump web to 24.04.11
  centreon/www/install/insertBaseConf.sql
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 24.04.11
  centreon/www/install/php/Update-24.04.11.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 24.04.11
  centreon/.version
Owners: none

Add test
  centreon/behat.yml
  centreon/features/ConnectorConfiguration.feature
  centreon/features/bootstrap/ConnectorConfigurationContext.php
  centreon/tests/e2e/features/Commands/02-connectors-configuration.feature
  centreon/tests/e2e/features/Commands/02-connectors-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/fixtures/commands/connector.json
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

Fix
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

enh (command): migrate the command arguments behat test to a cypress test
  centreon/behat.yml
  centreon/features/CommandArguments.feature
  centreon/features/bootstrap/CommandArgumentsContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa

fix update-24.10.*.php files
  centreon/www/install/php/Update-24.10.1.php
  centreon/www/install/php/Update-24.10.2.php
  centreon/www/install/php/Update-24.10.3.php
Owners: @centreon/owners-php, @centreon/owners-qa

add update-24.10.4 for the next minor release
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix gherkin lint
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
Owners: @centreon/owners-gherkin

enh (command): migrate the configuration of the command behat test to a cypress test fix (#6549)
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

enh (ressource status): migrate the submit result behat test to a cypress test (#6501)
  centreon/behat.yml
  centreon/features/ServiceSubmitResult.feature
  centreon/features/bootstrap/ServiceSubmitResultContext.php
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

chore(release) bump oss dev-24.04.x february 2025 (#6547)
  centreon-awie/.version
  centreon-awie/www/modules/centreon-awie/conf.php
  centreon-awie/www/modules/centreon-awie/upgrade/24.04.1/.gitignore
  centreon-dsm/.version
  centreon-dsm/www/modules/centreon-dsm/conf.php
  centreon-dsm/www/modules/centreon-dsm/upgrade/24.04.5/.gitignore
  centreon-open-tickets/.version
  centreon-open-tickets/www/modules/centreon-open-tickets/conf.php
  centreon-open-tickets/www/modules/centreon-open-tickets/upgrade/24.04.4/.gitignore
  centreon/.version
  centreon/www/install/insertBaseConf.sql
  centreon/www/install/php/Update-24.04.11.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh (ressource status): migrate the submit result behat test to a cypress test (24.04.x) (#6540)
  centreon/behat.yml
  centreon/features/ServiceSubmitResult.feature
  centreon/features/bootstrap/ServiceSubmitResultContext.php
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

enh (ressource status): migrate the submit result behat test to a cypress test (24.10.x) (#6539)
  centreon/behat.yml
  centreon/features/ServiceSubmitResult.feature
  centreon/features/bootstrap/ServiceSubmitResultContext.php
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

fix(cron): run outdated tokens removal cron with apache user (#6545)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

fix(cron): run outdated tokens removal cron with apache user (#6545)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

fix(cron): run outdated tokens removal cron with apache user (#6545)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

Update unattended.sh
  centreon/unattended.sh
Owners: @centreon/owners-pipelines

fix(cron): run outdated tokens removal cron with apache user (#6545)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

add update-24.10.4 for the next minor release (completed)
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(cron): run outdated tokens removal cron with apache user (#6545) (#6554)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069) (#6527)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069) (#6525)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069) (#6524)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069) (#6521)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069) (#6526)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

Implement page search
  centreon/www/front_src/src/App/index.tsx
  centreon/www/front_src/src/components/GlobalSearch/Dialog/Dialog.styles.ts
  centreon/www/front_src/src/components/GlobalSearch/Dialog/Dialog.tsx
  centreon/www/front_src/src/components/GlobalSearch/hooks/useSearchPages.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix(Top counter): add & use statistics refresh interval instead of monitoring refresh (#6297)
  centreon/packages/ui-context/src/index.ts
  centreon/packages/ui-context/src/statisticsRefreshIntervalAtom.ts
  centreon/src/Centreon/Application/Controller/Administration/ParametersController.php
  centreon/www/front_src/src/App/useApp.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php

re-trigger
  centreon/www/front_src/src/App/useApp.ts
Owners: @centreon/owners-react, @centreon/owners-qa

trigger
  centreon/www/front_src/src/App/useApp.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix (test) 2025-02-03 centreon-web-develop nightly build failure
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix(dashboard): do not take into account UNDETERMINED days in calculation (#5071)
  centreon/www/include/reporting/dashboard/csvExport/csv_HostGroupLogs.php
  centreon/www/include/reporting/dashboard/csvExport/csv_HostLogs.php
  centreon/www/include/reporting/dashboard/csvExport/csv_ServiceGroupLogs.php
  centreon/www/include/reporting/dashboard/csvExport/csv_ServiceLogs.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(conf): call PUT endpoint to update hostgroup in form (#6340)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

Fix(UI): Retrieve services names on filter (#6451)
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
  centreon/www/front_src/src/Resources/Filter/api/endpoint.ts
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/basicFilter/SelectInput.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

trigger
  centreon/www/front_src/src/App/useApp.ts
Owners: @centreon/owners-react, @centreon/owners-qa

enh(conf) remove check_replication field in I/O broker configuration forms
  centreon/src/CentreonRemote/Domain/Resources/DefaultConfig/CfgCentreonBrokerInfo.php
  centreon/src/CentreonRemote/Domain/Resources/RemoteConfig/BamBrokerCfgInfo.php
  centreon/src/CentreonRemote/Domain/Resources/RemoteConfig/BrokerInfo/OutputStatus.php
  centreon/src/CentreonRemote/Domain/Resources/RemoteConfig/BrokerInfo/OutputUnifiedSql.php
  centreon/tests/clapi_export/clapi-configuration.txt
  centreon/www/install/centreon_broker_translation.php
  centreon/www/install/createTables.sql
  centreon/www/install/insertBaseConf.sql
  centreon/www/install/php/Update-25.03.0.php
  centreon/www/install/var/baseconf/centreon-broker.sql
Owners: @centreon/owners-php, @centreon/owners-qa

Synchronize .github/actions with ./github/workflows changes
  .github/actions/chromatic/action.yml
  .github/actions/cypress-e2e-testing/action.yml
  .github/actions/frontend-build/action.yml
  .github/actions/frontend-lint/action.yml
  .github/actions/lighthouse-to-s3/action.yml
  .github/actions/npm-publish-package-beta/action.yml
  .github/actions/npm-publish-package-stable/action.yml
  .github/actions/publish-cypress-report/action.yml
  .github/actions/publish-storybook/action.yml
Owners: @centreon/owners-pipelines
