Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

fix (acl): indicates that ACLs need to be recalculated after service have been deployed (#5834) (#6402)
  centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/host.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix (media): SVG clean-up after downloading (#6069)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(Top counter): improved top counter display management (#6343) (#6417)
  centreon/config/symfony_serializer/Common/NotEmptyString.yaml
  centreon/config/symfony_serializer/User/FindUserPermissionsResponse.yaml
  centreon/config/symfony_serializer/User/Permission.yaml
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Header/specs/Header.cypress.spec.tsx/User Menu -- using the dark mode.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Header/specs/Header.cypress.spec.tsx/User Menu -- using the light mode.snap.png
  centreon/packages/ui-context/src/index.ts
  centreon/packages/ui-context/src/types.ts
  centreon/packages/ui-context/src/userPermissionsAtom.ts
  centreon/phpstan.core.neon
  centreon/src/Centreon/Domain/Contact/Contact.php
  centreon/src/Centreon/Infrastructure/Contact/ContactRepositoryRDB.php
  centreon/src/Core/Common/Infrastructure/Normalizer/NotEmptyStringNormalizer.php
  centreon/src/Core/User/Application/UseCase/FindUserPermissions/FindUserPermissions.php
  centreon/src/Core/User/Application/UseCase/FindUserPermissions/FindUserPermissionsResponse.php
  centreon/src/Core/User/Domain/Model/Permission.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsController.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsResponseNormalizer.php
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/FindUserPermissionsRoute.yaml
  centreon/src/Core/User/Infrastructure/API/FindUserPermissions/PermissionNormalizer.php
  centreon/www/front_src/src/App/endpoint.ts
  centreon/www/front_src/src/App/useApp.ts
  centreon/www/front_src/src/Header/Poller/usePollerData.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
  centreon/www/front_src/src/Header/specs/Header.utils.tsx
Owners: @centreon/owners-php, @centreon/owners-qa, @centreon/owners-react

enh(Resource status): adjust the size of the graphs to fit the availa… (#6430)
  centreon/www/front_src/src/Resources/Details/tabs/Services/Graphs.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(Top counter): add & use statistics refresh interval instead of monitoring refresh (#6297)
  centreon/packages/ui-context/src/index.ts
  centreon/packages/ui-context/src/statisticsRefreshIntervalAtom.ts
  centreon/src/Centreon/Application/Controller/Administration/ParametersController.php
  centreon/tests/rest_api/collections/administration/Parameters.postman_collection.json
  centreon/www/front_src/src/App/useApp.ts
  centreon/www/front_src/src/Header/Poller/usePollerData.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-api-testing

fix tests
  centreon/www/include/configuration/configObject/host_template_model/formHostTemplateModel.php
Owners: @centreon/owners-php, @centreon/owners-qa

clean test
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-cypress-e2e

chore(release) Bump oss to 25.03.0 (#6452)
  .version
  centreon-awie/www/modules/centreon-awie/conf.php
  centreon-awie/www/modules/centreon-awie/upgrade/25.03.0/.gitignore
  centreon-dsm/www/modules/centreon-dsm/conf.php
  centreon-dsm/www/modules/centreon-dsm/upgrade/25.03.0/.gitignore
  centreon-ha/.env
  centreon-ha/CHANGELOG.md
  centreon-open-tickets/widgets/open-tickets/configs.xml
  centreon-open-tickets/www/modules/centreon-open-tickets/conf.php
  centreon-open-tickets/www/modules/centreon-open-tickets/upgrade/25.03.0/.gitignore
  centreon/www/install/insertBaseConf.sql
  centreon/www/install/php/Update-25.03.0.php
Owners: @centreon/owners-php, @centreon/owners-qa, @centreon/owners-doc

remove comments from ci
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix clock timer E2E test
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

[E2E] Remove unecessary test combinaison on cloud notifications (#6458)
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix(conf): fix sql error at update
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

implementation of gherkin file
  centreon/behat.yml
  centreon/features/HostGroupServiceConfiguration.feature
  centreon/features/bootstrap/HostGroupServiceConfigurationContext.php
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/fixtures/services/host_group.json
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

fix(Top counter): add & use statistics refresh interval instead of mo… (#6465)
  centreon/packages/ui-context/src/index.ts
  centreon/packages/ui-context/src/statisticsRefreshIntervalAtom.ts
  centreon/src/Centreon/Application/Controller/Administration/ParametersController.php
  centreon/tests/rest_api/collections/administration/Parameters.postman_collection.json
  centreon/www/front_src/src/App/useApp.ts
  centreon/www/front_src/src/Header/Poller/usePollerData.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-api-testing

fix log previous with CentreonLog.php
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

[E2E] Remove unecessary test combinaison on cloud notifications (#6458)
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

Enh: Get rid of JS errors in the console (#6434)
  centreon/packages/ui/src/api/useMutationQuery/useOptimisticMutation.ts
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardConfig/DashboardConfigModal.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

[E2E] Remove unecessary test combinaison on cloud notifications-dev-24.04.x
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

apply feedbacks first part
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-batree/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-clock/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-data/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-generictext/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-graph/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-groupmonitoring/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-input/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-resourcestable/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singledata/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singlemetric/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statuschart/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statusgrid/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-text/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-topbottom/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-webpage/properties.json
Owners: @centreon/owners-react, @centreon/owners-qa

[E2E] Remove unecessary test combinaison on cloud notifications-dev-24.04.x (#6478)
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

[E2E] Remove unecessary test combinaison on cloud notifications-dev-24.10.x (#6477)
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

Enh(UI): Enhance the design of the reset password form (#5889)
  centreon/www/front_src/src/ResetPassword/Form.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix lint
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/Inputs/Metrics/Metrics.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardConfig/DashboardConfigModal.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

lint
  centreon/www/front_src/src/ResetPassword/Form.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

apply feedbacks part 2
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/models.ts
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix lint
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

Backport([Dashboard]): reforce update of listing in case of adding/removing a favorit from details page (#6464)
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

Fix(UI): Retrieve services names on filter (#6447)
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Actions/favoriteAction/FavoriteAction.tsx
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
  centreon/www/front_src/src/Resources/Filter/api/endpoint.ts
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/basicFilter/SelectInput.tsx
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/model.ts-E
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/utils.ts-E
Owners: @centreon/owners-react, @centreon/owners-qa

Revert "Backport([Dashboard]): reforce update of listing in case of adding/re…"
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

chore(E2E) : Adding e2e tests to cover resources status filters (#6311)
  centreon/tests/e2e/features/Resources-status/01-listing.feature
  centreon/tests/e2e/features/Resources-status/01-listing/index.ts
  centreon/tests/e2e/fixtures/resources/HostGroupWithUpOkStatuses.json
  centreon/tests/e2e/fixtures/resources/criticalAndOkServicesFilter.json
  centreon/tests/e2e/fixtures/resources/criticalServicesFilter.json
  centreon/tests/e2e/fixtures/resources/hostGroupAndServices.json
  centreon/tests/e2e/fixtures/resources/hostMonitoringServerOkStatus.json
  centreon/tests/e2e/fixtures/resources/monitoringServerAndOkStatus.json
  centreon/tests/e2e/fixtures/resources/pendingHosts.json
  centreon/tests/e2e/fixtures/resources/upHostAndCriticalServiceFilter.json
  centreon/tests/e2e/fixtures/resources/upHosts.json
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix(host categories): fix SQL request to search host categories
  centreon/src/Core/HostCategory/Infrastructure/Repository/DbReadRealTimeHostCategoryRepository.php
Owners: @centreon/owners-php, @centreon/owners-qa

trigger
  centreon/www/front_src/src/ResetPassword/Form.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix feature file
  centreon/tests/e2e/features/Resources-status/01-listing.feature
  centreon/tests/e2e/features/Resources-status/01-listing/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

feedback last part
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
Owners: @centreon/owners-react, @centreon/owners-qa

Revert "Backport([Dashboard]): reforce update of listing in case of adding/removing a favorit from details page" (#6479)
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

chore(E2E) : Adding e2e tests to cover resources status filters (#6480)
  centreon/tests/e2e/features/Resources-status/01-listing.feature
  centreon/tests/e2e/features/Resources-status/01-listing/index.ts
  centreon/tests/e2e/fixtures/resources/HostGroupWithUpOkStatuses.json
  centreon/tests/e2e/fixtures/resources/criticalAndOkServicesFilter.json
  centreon/tests/e2e/fixtures/resources/criticalServicesFilter.json
  centreon/tests/e2e/fixtures/resources/hostGroupAndServices.json
  centreon/tests/e2e/fixtures/resources/hostMonitoringServerOkStatus.json
  centreon/tests/e2e/fixtures/resources/monitoringServerAndOkStatus.json
  centreon/tests/e2e/fixtures/resources/pendingHosts.json
  centreon/tests/e2e/fixtures/resources/upHostAndCriticalServiceFilter.json
  centreon/tests/e2e/fixtures/resources/upHosts.json
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

feat(docker): adapt web container to centreon-poller docker image
  .github/docker/.env
  .github/docker/centreon-web/alma9/entrypoint/container.d/70-gorgone.sh
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers.sh
  .github/docker/docker-compose.yml
  .github/workflows/web.yml
  centreon/www/front_src/src/About/About.tsx
Owners: @centreon/owners-pipelines, @centreon/owners-react, @centreon/owners-qa

fix(ci): update slimtoolkit setup in dockerize #6449
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix
  centreon/www/front_src/src/ResetPassword/Form.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ci): update slimtoolkit setup in dockerize (#6457)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
