Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

composer.lock updated to add the stable version for centreon/smarty
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

enhances
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix typo
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

style
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesStatusResponseNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

style
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix test
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-input/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-text/properties.json
Owners: @centreon/owners-react, @centreon/owners-qa

style
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(Resource status): adjust the size of the graphs to fit the availa… (#6427)
  centreon/www/front_src/src/Resources/Details/tabs/Services/Graphs.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ACC): handle correctly folder and files permissions for ACC Vmware conf (#6046)
  centreon/src/Core/AdditionalConnectorConfiguration/Domain/Model/VmWareV6/VmWareV6Parameters.php
  centreon/www/class/centreon-clapi/centreon.Config.Poller.class.php
  centreon/www/class/config-generate/AdditionalConnectorVmWareV6.class.php
  centreon/www/class/config-generate/backend.class.php
  centreon/www/class/config-generate/generate.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

implement cp test first part
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/models.ts
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

optimize stacked bar
  centreon/packages/ui/src/Graph/BarChart/BarGroup.tsx
  centreon/packages/ui/src/Graph/BarChart/MemoizedGroup.tsx
  centreon/packages/ui/src/Graph/Chart/Chart.stories.tsx
  centreon/packages/ui/src/Graph/mockedData/pingServiceLinesBars.json
  centreon/packages/ui/src/Graph/mockedData/pingServiceLinesBarsStacked.json
Owners: @centreon/owners-react, @centreon/owners-qa

fix
  centreon/packages/ui/src/api/useMutationQuery/useOptimisticMutation.ts
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardConfig/DashboardConfigModal.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

Smartyadapter added and cleaning of smarty initialization
  centreon/GPL_LIB/smarty-plugins/SmartyAdapter.php
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/common/templates/error.ihtml
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

Rename SmartyAdapter to SmartyCentreon with extends SmartyBC
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

manage poller notification
  centreon/src/Core/MonitoringServer/Application/Repository/WriteMonitoringServerRepositoryInterface.php
  centreon/src/Core/MonitoringServer/Infrastructure/Repository/DbWriteMonitoringServerRepository.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesController.php
Owners: @centreon/owners-php, @centreon/owners-qa

update TU
  centreon/tests/php/Core/Service/Application/UseCase/DeleteServices/DeleteServicesTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

fixe(Poller/Agent Configuration): fix some missing translation (#6407)
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- backs to the form when the Stay button of the popup is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- leaves the form when the Leave button of the popup is clicked.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx/Agent configurations modal -- leaves to the form when the Leave button of the popup is clicked.snap.png
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/packages/ui/src/InputField/Select/Autocomplete/index.tsx
  centreon/packages/ui/src/InputField/translatedLabels.ts
  centreon/www/front_src/src/AgentConfiguration/AgentConfigurations.cypress.spec.tsx
  centreon/www/front_src/src/AgentConfiguration/Form/useInputs.ts
  centreon/www/front_src/src/AgentConfiguration/translatedLabels.tsx
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-doc

fix(ACC): handle correctly folder and files permissions for ACC Vmware conf (#6046)
  centreon/src/Core/AdditionalConnectorConfiguration/Domain/Model/VmWareV6/VmWareV6Parameters.php
  centreon/www/class/centreon-clapi/centreon.Config.Poller.class.php
  centreon/www/class/config-generate/AdditionalConnectorVmWareV6.class.php
  centreon/www/class/config-generate/backend.class.php
  centreon/www/class/config-generate/generate.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

feedbacks
  centreon/doc/API/latest/onPremise/Configuration/Service/DeleteServices.yaml
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesRoute.yaml
Owners: @centreon/owners-php, @centreon/owners-qa

feedbacks
  centreon/src/Core/AdditionalConnectorConfiguration/Domain/Model/VmWareV6/VmWareV6Parameters.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(UI): Update the wording of the confirmation popups (#6341)
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/packages/ui/src/Dialog/UnsavedChanges/index.tsx
  centreon/packages/ui/src/Dialog/UnsavedChanges/translatedLabels.ts
  centreon/tests/e2e/features/Additional-connectors/01-ACC-creation.feature
  centreon/tests/e2e/features/Additional-connectors/01-ACC-creation/index.ts
  centreon/tests/e2e/features/Agent-configuration/01-agent-configuration-creation.feature
  centreon/tests/e2e/features/Agent-configuration/01-agent-configuration-creation/index.ts
Owners: @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-gherkin, @centreon/owners-cypress-e2e

auto feedbacks
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Infrastructure/API/DeleteServices/DeleteServicesController.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(ci): manage apt internal repository
  .github/actions/deb-delivery/action.yml
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/workflows/awie.yml
  .github/workflows/dsm.yml
  .github/workflows/ha.yml
  .github/workflows/open-tickets.yml
  .github/workflows/web.yml
  centreon/tests/e2e/features/Platform-upgrade-update/02-platform-upgrade/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

enh(ci): manage apt internal repository
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  centreon/www/install/php/Update-25.01.0.php
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

Update centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix zoom button listeners
  centreon/packages/ui/src/components/Zoom/useMinimap.ts
  centreon/packages/ui/src/components/Zoom/useZoom.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ACC): handle correctly folder and files permissions for ACC Vmware conf (#6046) (#6436)
  centreon/src/Core/AdditionalConnectorConfiguration/Domain/Model/VmWareV6/VmWareV6Parameters.php
  centreon/www/class/centreon-clapi/centreon.Config.Poller.class.php
  centreon/www/class/config-generate/AdditionalConnectorVmWareV6.class.php
  centreon/www/class/config-generate/backend.class.php
  centreon/www/class/config-generate/generate.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(ACC): handle correctly folder and files permissions for ACC Vmware conf (#6046) (#6436)
  centreon/src/Core/AdditionalConnectorConfiguration/Domain/Model/VmWareV6/VmWareV6Parameters.php
  centreon/www/class/centreon-clapi/centreon.Config.Poller.class.php
  centreon/www/class/config-generate/AdditionalConnectorVmWareV6.class.php
  centreon/www/class/config-generate/backend.class.php
  centreon/www/class/config-generate/generate.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix lint + tests
  centreon/packages/ui/src/Dialog/Confirm/index.tsx
  centreon/packages/ui/src/Dialog/index.tsx
  centreon/packages/ui/src/Graph/BarChart/MemoizedGroup.tsx
  centreon/packages/ui/src/Graph/Chart/Chart.cypress.spec.tsx
  centreon/packages/ui/src/Graph/mockedData/pingServiceLinesBars.json
  centreon/packages/ui/src/Graph/mockedData/pingServiceLinesBarsStacked.json
  centreon/packages/ui/src/InputField/Select/Autocomplete/Draggable/index.tsx
  centreon/packages/ui/src/api/useMutationQuery/useOptimisticMutation.ts
  centreon/packages/ui/src/components/Zoom/Zoom.tsx
  centreon/packages/ui/src/components/Zoom/ZoomContent.tsx
  centreon/packages/ui/src/components/Zoom/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa

enh(ci): manage apt internal repository
  centreon/www/install/php/Update-25.01.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

update snapshots
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Axis -- displays as centered to zero when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Axis -- displays only horizontal lines when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Axis -- displays only vertical lines when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Axis -- does not display axis borders when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Axis -- does not display grids when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Axis -- rotates the tick label when the props is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Legend -- displays the legend in list mode when the corresponding props is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Legend -- displays the legend on the left side of the graph when the corresponding prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Legend -- displays the legend on the right side of the graph as list when the corresponding props are set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Line style -- displays the curve in a natural style when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Line style -- displays the curve in a step style when the prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- displays a metric highlighted when the graph is hovered and the metric is the nearest point.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- displays a tooltip when the graph is hovered.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- displays the tooltip a single metric when the corresponding prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- displays the tooltip with defined values when the graph is hovered.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- does not display the tooltip when null values are hovered.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- does not display the tooltip when the corresponding prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- sorts metrics by their value is ascending when the corresponding prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Line chart -- Tooltip -- sorts metrics by their value is descending when the corresponding prop is set.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Lines and bars -- displays lines and bars in the same chart centered in zero.snap.png
  centreon/packages/ui/cypress/visual-testing-snapshots/src/Graph/Chart/Chart.cypress.spec.tsx/Lines and bars -- displays lines and bars in the same chart.snap.png
Owners: @centreon/owners-react, @centreon/owners-qa

fix
  centreon/packages/ui/src/Graph/Chart/Chart.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

enh(ci): manage apt internal repository
  .github/workflows/ha.yml
Owners: @centreon/owners-pipelines

fix
  centreon/packages/ui/src/Graph/Chart/Chart.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ACC): handle correctly folder and files permissions for ACC Vmware conf (#6436) (#6439)
  centreon/src/Core/AdditionalConnectorConfiguration/Domain/Model/VmWareV6/VmWareV6Parameters.php
  centreon/www/class/centreon-clapi/centreon.Config.Poller.class.php
  centreon/www/class/config-generate/AdditionalConnectorVmWareV6.class.php
  centreon/www/class/config-generate/backend.class.php
  centreon/www/class/config-generate/generate.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

enhances & fix lint
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

add snapshots
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx/displays widgets grouped under the category Generic widgets.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx/displays widgets grouped under the category Real time widgets.snap.png
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

enh(ci): manage apt internal repository
  centreon/tests/e2e/features/Platform-upgrade-update/02-platform-upgrade/index.ts
Owners: @centreon/owners-cypress-e2e

Gherkin file
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

enh(ci): manage apt internal repository (#6437)
  .github/actions/deb-delivery/action.yml
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/workflows/awie.yml
  .github/workflows/dsm.yml
  .github/workflows/ha.yml
  .github/workflows/open-tickets.yml
  .github/workflows/web.yml
  centreon/tests/e2e/features/Platform-upgrade-update/02-platform-upgrade/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
