Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

fix
  .github/workflows/behat-test.yml
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

chore(ci): remove workflow outdated create-repo-yum (#6510)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

chore(ci): remove workflow outdated create-repo-yum (#6510)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

chore(ci): remove workflow outdated create-repo-yum (#6510)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

chore(ci): remove workflow outdated create-repo-yum (#6510)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

fix(conf): fix sql error at update (#6475)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(behat): update configuration button css selector
  centreon/composer.json
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6506)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6505)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

Backport([Dashboard]): reforce update of listing in case of adding/removing a favorit from details page (#6482)
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

Fix E2E flaky tests
  centreon/tests/e2e/features/Dashboards/12-status-grid-widget-configuration/index.ts
  centreon/tests/e2e/features/Dashboards/16-status-chart-widget-configuration/index.ts
  centreon/tests/e2e/features/Resources-status/05-filtre/index.ts
Owners: @centreon/owners-cypress-e2e

functions in camel case
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-php, @centreon/owners-qa

reformat code
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

fixing issue
  centreon/tests/e2e/features/Dashboards/12-status-grid-widget-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

Revert "Backport([Core]): Issue with topology_id in Pollers menus (#5378)"
  centreon/www/include/configuration/configServers/listServers.ihtml
  centreon/www/include/configuration/configServers/listServers.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(behat): update configuration button css selector
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

fix(behat): update configuration button css selector
  .github/workflows/behat-test.yml
  .github/workflows/web.yml
  centreon/composer.json
  centreon/composer.lock
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

funtions in camel case
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update error message and error handler
  centreon/www/include/monitoring/downtime/downtime.php
  centreon/www/include/monitoring/downtime/listDowntime.php
Owners: @centreon/owners-php, @centreon/owners-qa

test (e2e) fix flacky tests
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix (media): SVG clean-up after downloading (#6069)
  centreon/www/include/options/media/images/formImg.php
  centreon/www/include/options/media/images/images.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(E2E) : Fix E2E flaky tests (#6519)
  centreon/tests/e2e/features/Dashboards/12-status-grid-widget-configuration/index.ts
  centreon/tests/e2e/features/Dashboards/16-status-chart-widget-configuration/index.ts
  centreon/tests/e2e/features/Resources-status/05-filtre/index.ts
Owners: @centreon/owners-cypress-e2e

go again
  centreon/cypress/visual-testing-snapshots/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx/Reset Password -- displays errors when the form is not correctly filled.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx/Reset Password -- displays the reset password form.snap.png
  centreon/www/front_src/src/ResetPassword/index.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

go again
  centreon/tests/e2e/features/Platform-upgrade-update/01-platform-update/index.ts
Owners: @centreon/owners-cypress-e2e

some fix
  .github/workflows/web.yml
  centreon/tests/e2e/features/Hosts/commands.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

another approach
  centreon/tests/e2e/features/Platform-upgrade-update/01-platform-update/index.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-cypress-e2e

some fix
  .github/workflows/web.yml
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix(CentreonLog) : displaying of previous exception in a log fixed (#6503)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

Adding new command
  centreon/tests/e2e/features/Resources-status/05-filtre/index.ts
  centreon/tests/e2e/features/Resources-status/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-cypress-e2e

Update centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix behat tests from centreon-test-lib
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

fix behat tests from centreon-test-lib
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

some fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

Fix tests
  centreon/www/include/configuration/configObject/host/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

some fix
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix(behat): avoid stale element in poller configuration listing page (#6511)
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa

fix(behat): avoid stale element in poller configuration listing page (#6511)
  centreon/composer.lock
Owners: @centreon/owners-php, @centreon/owners-qa
