Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

some fix
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-cypress-e2e

enh(conf): call PUT endpoint to update hostgroup in form
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

fixes
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-cypress-e2e

enh (command): migrate the configuration of the command behat test to a cypress test (#6533)
  centreon/behat.yml
  centreon/features/CommandConfiguration.feature
  centreon/features/bootstrap/CommandConfigurationContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

enh (ressource status): migrate the submit result behat test to a cypress test
  centreon/behat.yml
  centreon/features/ServiceSubmitResult.feature
  centreon/features/bootstrap/ServiceSubmitResultContext.php
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

fix(conf): fix sql error at update (#6475) (#6513)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

implementation of gherkin file
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix gherkin lint
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
Owners: @centreon/owners-gherkin

some fix
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-cypress-e2e

add tag to some scenarios
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
Owners: @centreon/owners-gherkin

add tag to some scenarios
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
Owners: @centreon/owners-gherkin

fix flaky test
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix gherkin lint
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
Owners: @centreon/owners-gherkin

Enh([Dashboards]): Optimize widgets list (#6424)
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx/displays widgets grouped under the category Generic widgets.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx/displays widgets grouped under the category Real time widgets.snap.png
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/packages/ui/src/Dialog/Confirm/index.tsx
  centreon/packages/ui/src/Dialog/index.tsx
  centreon/packages/ui/src/InputField/Select/Autocomplete/Draggable/index.tsx
  centreon/packages/ui/src/components/CollapsibleItem/CollapsibleItem.tsx
  centreon/tests/e2e/features/Dashboards/17-clock-timer-widget-configuration/index.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/AddEditWidgetModal.cypress.spec.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/useWidgetSelection.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/widgetProperties.styles.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/models.ts
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-batree/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-clock/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-data/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-generictext/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-graph/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-groupmonitoring/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-input/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-resourcestable/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singledata/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-singlemetric/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statuschart/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-statusgrid/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-text/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-topbottom/properties.json
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/centreon-widget-webpage/properties.json
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardConfig/DashboardConfigModal.tsx
  centreon/www/front_src/src/federatedModules/models.ts
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-doc, @centreon/owners-cypress-e2e

enh (ressource status): migrate the submit result behat test to a cypress test
  centreon/behat.yml
  centreon/features/ServiceSubmitResult.feature
  centreon/features/bootstrap/ServiceSubmitResultContext.php
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

implementation of gherkin file
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix gherkin lint
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
Owners: @centreon/owners-gherkin

some fix
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-cypress-e2e

add tag to some scenarios
  centreon/tests/e2e/features/HostGroups/01-host-group-configuration.feature
Owners: @centreon/owners-gherkin

enh (command): migrate the configuration of the command behat test to a cypress test (#6533) (cherry picked from commit 337a80f3afc8b451655cdbe4d7ec76047dba1ddb)
  centreon/behat.yml
  centreon/features/CommandConfiguration.feature
  centreon/features/bootstrap/CommandConfigurationContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

enh (command): migrate the configuration of the command behat test to a cypress test (cherry picked from commit 337a80f3afc8b451655cdbe4d7ec76047dba1ddb)
  centreon/behat.yml
  centreon/features/CommandConfiguration.feature
  centreon/features/bootstrap/CommandConfigurationContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

many fixes & refacto
  centreon/www/front_src/src/Resources/Listing/columns/Parent.tsx
  centreon/www/front_src/src/Resources/Listing/columns/Resource.tsx
  centreon/www/front_src/src/Resources/Listing/columns/ServiceSubItemColumn/SubItem.styles.tsx
  centreon/www/front_src/src/Resources/Listing/columns/ServiceSubItemColumn/SubItem.tsx
  centreon/www/front_src/src/Resources/Listing/columns/colomuns.style.ts
  centreon/www/front_src/src/Resources/Listing/columns/index.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

enh(ci): gitleaks default directives
  .gitleaks.toml
  .gitleaksignore
Owners: none

replace directive
  .gitleaks.toml
Owners: none

fix(cron): run outdated tokens removal cron with apache user
  .github/actions/package-nfpm/action.yml
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

feat(host group): Add an endpoint to delete HGs in bulk
  centreon/bin/registerServerTopology.sh
  centreon/config/services.yaml
  centreon/src/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroups.php
  centreon/src/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroupsRequest.php
  centreon/src/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroupsResponse.php
  centreon/src/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroupsStatusResponse.php
  centreon/src/Core/HostGroup/Infrastructure/API/DeleteHostGroups/DeleteHostGroupsController.php
  centreon/src/Core/HostGroup/Infrastructure/API/DeleteHostGroups/DeleteHostGroupsInput.php
  centreon/src/Core/HostGroup/Infrastructure/API/DeleteHostGroups/DeleteHostGroupsRequestTransformer.php
  centreon/src/Core/HostGroup/Infrastructure/API/DeleteHostGroups/DeleteHostGroupsRoute.yaml
  centreon/src/Core/HostGroup/Infrastructure/Serializer/DeleteHostGroupsStatusResponseNormalizer.php
  centreon/src/Core/HostGroup/Infrastructure/Voters/HostGroupVoters.php
  centreon/tests/php/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroupsTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

phpstan
  centreon/src/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroups.php
  centreon/src/Core/HostGroup/Infrastructure/Serializer/DeleteHostGroupsStatusResponseNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

remove change not wanted
  centreon/bin/registerServerTopology.sh
Owners: @centreon/owners-php, @centreon/owners-qa

fix(cron): run outdated tokens removal cron with apache user
  .github/actions/package-nfpm/action.yml
Owners: @centreon/owners-pipelines

phpcs
  centreon/src/Core/HostGroup/Infrastructure/Serializer/DeleteHostGroupsStatusResponseNormalizer.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(RS): Add flapping in Resources By Parent (#6382) (#6529)
  centreon/doc/API/latest/onPremise/Realtime/Resources/FindResourcesByParent.yaml
  centreon/doc/API/latest/onPremise/Realtime/Resources/QueryParameter/FilterState.yaml
  centreon/doc/API/latest/onPremise/Realtime/Resources/Schema/ResourceLightened.yaml
  centreon/src/Core/Resources/Infrastructure/API/FindResourcesByParent/FindResourcesByParentPresenter.php
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

phpstan
  centreon/tests/php/Core/HostGroup/Application/UseCase/DeleteHostGroups/DeleteHostGroupsTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump awie to 24.04.1
  centreon-awie/www/modules/centreon-awie/conf.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump awie to 24.04.1
  centreon-awie/www/modules/centreon-awie/upgrade/24.04.1/.gitignore
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump awie to 24.04.1
  centreon-awie/.version
Owners: none

chore(release) bump dsm to 24.04.5
  centreon-dsm/www/modules/centreon-dsm/conf.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump dsm to 24.04.5
  centreon-dsm/www/modules/centreon-dsm/upgrade/24.04.5/.gitignore
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump dsm to 24.04.5
  centreon-dsm/.version
Owners: none

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
