Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

Fix
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

remove promote dep on delivery for web
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

force hotfix as release type
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix unprecise query when looking for lua password param value (#5627)
  centreon/www/class/centreonConfigCentreonBroker.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Configuration): ACL aren't affected to a hostgroup when it's created by a non-admin user (#6348) [dev-24.10.x] (#6531)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
  centreon/www/include/configuration/configObject/hostgroup/listHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(cron): run outdated tokens removal cron with apache user (#6545) (#6578)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

enh(ceip): send agent information data (#6490)
  centreon/www/api/class/centreon_ceip.class.php
  centreon/www/install/createTablesCentstorage.sql
  centreon/www/install/php/Update-25.03.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Configuration): ACL aren't affected to a hostgroup when it's created by a non-admin user (#6348) [dev-24.04.x] (#6530)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
  centreon/www/include/configuration/configObject/hostgroup/listHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update behat.yml
  centreon/behat.yml
Owners: none

fix(update-24.10.x) : fix update files for 24.10 (#6551)
  centreon/www/install/php/Update-24.10.1.php
  centreon/www/install/php/Update-24.10.2.php
  centreon/www/install/php/Update-24.10.3.php
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

update script content updated
  centreon/www/install/php/Update-24.10.0.php
  centreon/www/install/php/Update-24.10.1.php
  centreon/www/install/php/Update-24.10.2.php
  centreon/www/install/php/Update-24.10.3.php
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

update script content updated
  centreon/www/install/php/Update-24.10.0.php
  centreon/www/install/php/Update-24.10.1.php
  centreon/www/install/php/Update-24.10.2.php
  centreon/www/install/php/Update-24.10.3.php
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(host groups): call API for hostGroup deletion in form (#6314)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/hostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh (command): migrate the command arguments behat test to a cypress test (24.10.x) (#6569)
  centreon/behat.yml
  centreon/features/CommandArguments.feature
  centreon/features/CommandConfiguration.feature
  centreon/features/bootstrap/CommandArgumentsContext.php
  centreon/features/bootstrap/CommandConfigurationContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

enh (command): migrate the command arguments behat test to a cypress test (#6550)
  centreon/behat.yml
  centreon/features/CommandArguments.feature
  centreon/features/bootstrap/CommandArgumentsContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(E2E): Adding E2E test for the Refresh intervals of the top counters
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

add Gherkin file
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
Owners: @centreon/owners-gherkin

implementation of the gherkin file with cypress
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix(top counter): refresh intervals for the top counters have no effect (#6572)
  centreon/packages/ui-context/src/index.ts
  centreon/packages/ui-context/src/statisticsRefreshIntervalAtom.ts
  centreon/src/Centreon/Application/Controller/Administration/ParametersController.php
  centreon/www/front_src/src/App/useApp.ts
  centreon/www/front_src/src/Header/Resources/useResourceCounters.tsx
Owners: @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update centreon/www/install/insertBaseConf.sql
  centreon/www/install/insertBaseConf.sql
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573) (#6580)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(ceip): send agent information data (#6490)
  centreon/www/api/class/centreon_ceip.class.php
  centreon/www/install/createTablesCentstorage.sql
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(conf): handle host template deletion in API
  centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/host.php
  centreon/www/include/configuration/configObject/host_template_model/hostTemplateModel.php
Owners: @centreon/owners-php, @centreon/owners-qa

Fix([Dashboard]): Double-clicking the "Favorites" button causes errors and inconsistent behavior (#6459)
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.cypress.spec.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardCardActions/DashboardCardActions.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Actions/favoriteAction/FavoriteAction.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Columns/Actions/Actions.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardsOverview/DashboardsOverview.tsx
Owners: @centreon/owners-react, @centreon/owners-qa
