Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

fix(ci): update slimtoolkit setup in dockerize (#6456)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6455)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix
  .github/docker/.env
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6457) (#6485)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6449) (#6483)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6456) (#6486)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6455) (#6487)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

refacto code
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/data.json
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-cypress-e2e

chore(E2E): Adding E2E test for the Refresh intervals of the top counters
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

add Gherkin file
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
Owners: @centreon/owners-gherkin

implementation of the gherkin file with cypress
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix(PAC): Search field is empty after navigating to another page and returning (#6462)
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/Search.tsx
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/useSearch.ts
Owners: @centreon/owners-react, @centreon/owners-qa

Trigger CI
  centreon/tests/e2e/features/Resources-status/01-listing.feature
Owners: @centreon/owners-gherkin

Synchronize .github/actions with ./github/workflows changes
  .github/actions/cypress-e2e-testing/action.yml
  .github/actions/deb-delivery/action.yml
  .github/actions/frontend-build/action.yml
  .github/actions/package-nfpm/action.yml
  .github/actions/package/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/release-sources/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/actions/veracode-generate-binary/action.yml
Owners: @centreon/owners-pipelines

Gherkin file
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

implementation of gherkin file
  centreon/behat.yml
  centreon/features/HostGroupServiceConfiguration.feature
  centreon/features/bootstrap/HostGroupServiceConfigurationContext.php
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/fixtures/services/host_group.json
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

refacto code
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/data.json
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-cypress-e2e

Gherkin file
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

implementation of gherkin file
  centreon/behat.yml
  centreon/features/HostGroupServiceConfiguration.feature
  centreon/features/bootstrap/HostGroupServiceConfigurationContext.php
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/fixtures/services/host_group.json
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

refacto code
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/data.json
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-cypress-e2e

enh(services): Use APIv2 while deleting service/template through the UI (#6321)
  centreon/www/include/configuration/configObject/service/DB-Func.php
  centreon/www/include/configuration/configObject/service/serviceByHost.php
  centreon/www/include/configuration/configObject/service_template_model/serviceTemplateModel.php
Owners: @centreon/owners-php, @centreon/owners-qa

Adding new scenarios
  centreon/tests/e2e/features/Resources-status/01-listing.feature
  centreon/tests/e2e/features/Resources-status/01-listing/index.ts
  centreon/tests/e2e/fixtures/resources/acknowledgeServiceAllStates.json
  centreon/tests/e2e/fixtures/resources/hardSoftStatusFilter.json
  centreon/tests/e2e/fixtures/resources/hostServiceServiceCategory.json
  centreon/tests/e2e/fixtures/resources/okServiceAndPingServiceCategory.json
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix issue
  centreon/tests/e2e/features/Resources-status/01-listing.feature
Owners: @centreon/owners-gherkin

Adding fixes
  centreon/tests/e2e/features/Resources-status/01-listing.feature
  centreon/tests/e2e/features/Resources-status/01-listing/index.ts
  centreon/tests/e2e/features/Resources-status/05-filtre.feature
  centreon/tests/e2e/features/Resources-status/05-filtre/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

remove scenarios
  centreon/tests/e2e/features/Resources-status/01-listing.feature
Owners: @centreon/owners-gherkin

10 must be possible
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

try this time
  centreon/www/front_src/src/Login/index.tsx
  centreon/www/front_src/src/Login/useGetLoginCustomData.ts
  centreon/www/front_src/src/Login/useLogin.ts
  centreon/www/front_src/src/ResetPassword/Form.tsx
  centreon/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx
  centreon/www/front_src/src/ResetPassword/index.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

linting
  centreon/www/front_src/src/ResetPassword/Form.tsx
  centreon/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx
  centreon/www/front_src/src/ResetPassword/index.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

update snapshots
  centreon/cypress/visual-testing-snapshots/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx/Custom Reset Password page -- displays the Reset Password page when it is customized.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx/Reset Password -- displays errors when the form is not correctly filled.snap.png
  centreon/cypress/visual-testing-snapshots/www/front_src/src/ResetPassword/ResetPassword.cypress.spec.tsx/Reset Password -- displays the reset password form.snap.png
Owners: @centreon/owners-react, @centreon/owners-qa

enh (service by host group): migrate the configuration of the host group service behat test to a cypress test (#6441)
  centreon/behat.yml
  centreon/features/HostGroupServiceConfiguration.feature
  centreon/features/bootstrap/HostGroupServiceConfigurationContext.php
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/data.json
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/fixtures/services/host_group.json
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

chore(E2E): Adding E2E test for the Refresh intervals of the top counters (24.10.x) (#6488)
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers.sh
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
  .github/docker/centreon-web/alma9/entrypoint/container.sh
Owners: @centreon/owners-pipelines

enh (service by host group): migrate the configuration of the host group service behat test to a cypress test (24.10.x) (#6491)
  centreon/behat.yml
  centreon/features/HostGroupServiceConfiguration.feature
  centreon/features/bootstrap/HostGroupServiceConfigurationContext.php
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/data.json
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/fixtures/services/host_group.json
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

chore(E2E) : Adding E2E tests for resources status page (#6489)
  centreon/tests/e2e/features/Resources-status/01-listing.feature
  centreon/tests/e2e/features/Resources-status/01-listing/index.ts
  centreon/tests/e2e/features/Resources-status/05-filtre.feature
  centreon/tests/e2e/features/Resources-status/05-filtre/index.ts
  centreon/tests/e2e/fixtures/resources/acknowledgeServiceAllStates.json
  centreon/tests/e2e/fixtures/resources/hardSoftStatusFilter.json
  centreon/tests/e2e/fixtures/resources/hostServiceServiceCategory.json
  centreon/tests/e2e/fixtures/resources/okServiceAndPingServiceCategory.json
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix(conf): fix sql error at update (#6475)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

backport
  centreon/www/include/configuration/configServers/listServers.ihtml
  centreon/www/include/configuration/configServers/listServers.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(administration/parameters): refresh intervals for statistics field should not accepts numbers less than 10 (#6381)
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

[E2E] fix cloud notification test on dev-24.04.x
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-cypress-e2e

[E2E] fix cloud notification test on dev-24.04.x (#6497)
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-cypress-e2e

fix
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
Owners: @centreon/owners-pipelines

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
