Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

fix(Resource Status): Unable to enable/disable compact mode(rabbit)
  centreon/src/Core/Application/Configuration/User/Exception/UserException.php
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Resource Status): Unable to enable/disable compact mode(remove message exception)
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
Owners: @centreon/owners-doc

fix(Resource Status): Unable to enable/disable compact mode(stan)
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Resource Status): Unable to enable/disable compact mode
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/src/Core/Application/Configuration/User/Exception/UserException.php
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

add 25.03 to the list of available distribs
  centreon/unattended.sh
Owners: @centreon/owners-pipelines

enh(tests): improve ServiceConfiguration e2e tests
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

enable ci
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix and active video option
  centreon/packages/js-config/cypress/e2e/configuration.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

some fixes
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  .github/workflows/web.yml
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Services-configuration/09-virtual-metric-handle/index.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fix(Resource Status): Unable to enable/disable compact mode (#6494)
  centreon/src/Core/Application/Configuration/User/UseCase/PatchUser/PatchUser.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Service Groups): Service groups are not displayed with acls + display filter not working
  centreon/www/class/centreonACL.class.php
  centreon/www/include/monitoring/status/ServicesServiceGroups/xml/serviceSummaryBySGXML.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Service Groups): Service groups are not displayed with acls + dis… (#6507)
  centreon/www/class/centreonACL.class.php
  centreon/www/include/monitoring/status/ServicesServiceGroups/xml/serviceSummaryBySGXML.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(E2E) : Fix E2E flaky tests (#6520)
  centreon/tests/e2e/features/Contacts/01-contact-configuration/index.ts
  centreon/tests/e2e/features/Contacts/02-contact-group-configuration/index.ts
  centreon/tests/e2e/features/HostGroups/02-host-group-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/02-configurationWarnings/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/04-service-group-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/05-service-template-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/06-generate-service-contact/index.ts
  centreon/tests/e2e/features/Services-configuration/09-virtual-metric-handle/index.ts
  centreon/tests/e2e/features/Services-configuration/10-meta-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

Add tests
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

Uncomment
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

chore(ci): remove workflow outdated create-repo-yum (#6510) (#6514)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

test (e2e) fix flacky tests
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

some fix
  .github/workflows/web.yml
  centreon/tests/e2e/features/Hosts/commands.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

some fix
  .github/workflows/web.yml
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

some fixes
  centreon/tests/e2e/features/HostGroups/02-host-group-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/commands.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fix prettier lint
  centreon/tests/e2e/features/Contacts/02-contact-group-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/06-generate-service-contact/index.ts
  centreon/tests/e2e/features/Services-configuration/10-meta-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Services-configuration/09-virtual-metric-handle/index.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

Delete behat
  centreon/behat.yml
  centreon/features/CommandConfiguration.feature
  centreon/features/bootstrap/CommandConfigurationContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6502)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(smarty) : extends tag fixed and error handling added for the displaying of smarty templates (#6509)
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/composer.json
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/common/templates/error.ihtml
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(i18n): add tool to translate Centreon projects
  i18n_toolkit/README.md
  i18n_toolkit/composer.json
  i18n_toolkit/composer.lock
  i18n_toolkit/make_translation.sh
  i18n_toolkit/parseDashboardWidgets.php
  i18n_toolkit/parseSQLDatabaseConfigurationForTranslation.php
  i18n_toolkit/reachjs2centreon.php
  i18n_toolkit/translationDuplicationRemoval.php
  i18n_toolkit/tsmarty2centreon.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-bash

chore(E2E) : Fix E2E flaky tests (24.10.x) (#6534)
  centreon/tests/e2e/features/Contacts/02-contact-group-configuration/index.ts
  centreon/tests/e2e/features/HostGroups/02-host-group-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/06-generate-service-contact/index.ts
  centreon/tests/e2e/features/Services-configuration/09-virtual-metric-handle/index.ts
  centreon/tests/e2e/features/Services-configuration/10-meta-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fixes
  .github/workflows/web.yml
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

test (e2e) fix flacky tests
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
