Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

fix
  centreon/tests/e2e/features/Dashboards/10-widget-metric-graph-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

chore(ci): add repo esr to 22.10 rpm delivery (#6432)
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
Owners: @centreon/owners-pipelines

enh(ci): manage apt internal repository (#6437)
  .github/actions/deb-delivery/action.yml
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/workflows/awie.yml
  .github/workflows/dsm.yml
  .github/workflows/ha.yml
  .github/workflows/open-tickets.yml
  .github/workflows/web.yml
  centreon/tests/e2e/features/Platform-upgrade-update/02-platform-upgrade/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fixes
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/Search.tsx
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/useSearch.ts
Owners: @centreon/owners-react, @centreon/owners-qa

add translation
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
Owners: @centreon/owners-doc

enh(conf): create hostgroup form now use API
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

tinny fix
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
Owners: @centreon/owners-doc

autoload of SmartyCentreon class
  centreon/composer.json
Owners: @centreon/owners-php, @centreon/owners-qa

fix method not found
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(ci): manage apt internal repository (#6437) (#6442)
  .github/actions/deb-delivery/action.yml
  .github/docker/centreon-web/bookworm/Dockerfile.dependencies
  .github/workflows/awie.yml
  .github/workflows/dsm.yml
  .github/workflows/ha.yml
  .github/workflows/open-tickets.yml
  .github/workflows/web.yml
  centreon/tests/e2e/features/Platform-upgrade-update/02-platform-upgrade/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix(test): use target stability in e2e upgrade tests (#6354)
  .github/actions/cypress-e2e-testing/action.yml
  .github/workflows/cypress-e2e-parallelization.yml
  .github/workflows/web.yml
  centreon/packages/js-config/cypress/e2e/configuration.ts
  centreon/tests/e2e/features/Platform-upgrade-update/common.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix(test): get properly previous major version in e2e tests (#6319)
  centreon/tests/e2e/features/Platform-upgrade-update/common.ts
Owners: @centreon/owners-cypress-e2e

enh(ci): manage apt internal repository
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

log error if services deletion fail
  centreon/www/include/configuration/configObject/service/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(ci): add repo esr to 22.10 rpm delivery (#6432)
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
Owners: @centreon/owners-pipelines

refactor
  centreon/www/include/configuration/configObject/service/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

move variable declaration
  centreon/www/include/configuration/configObject/service/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix triggers
  centreon/www/install/php/Update-24.10.4.php
Owners: @centreon/owners-php, @centreon/owners-qa

Fix(UI): Retrieve services names on filter (#6421)
  centreon/www/front_src/src/AdditionalConnectorConfiguration/Specs/Acc.modal.tsx
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
  centreon/www/front_src/src/Resources/Filter/api/endpoint.ts
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/basicFilter/SelectInput.tsx
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/model.ts-E
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/utils.ts-E
Owners: @centreon/owners-react, @centreon/owners-qa

call API for simple host/hostTemplate update
  centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/formHost.php
  centreon/www/include/configuration/configObject/host_template_model/formHostTemplateModel.php
Owners: @centreon/owners-php, @centreon/owners-qa

Apply suggestions
  centreon/src/Core/HostGroup/Infrastructure/Repository/DbReadHostGroupRepository.php
  centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/formHost.php
Owners: @centreon/owners-php, @centreon/owners-qa

Apply suggestion part 2
  centreon/www/include/configuration/configObject/host/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(ci): add repo esr to 22.10 rpm delivery (#6432) (#6445)
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
Owners: @centreon/owners-pipelines

fix services endpoint
  centreon/www/front_src/src/Resources/Filter/api/endpoint.ts
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/basicFilter/SelectInput.tsx
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/model.ts-E
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/utils.ts-E
Owners: @centreon/owners-react, @centreon/owners-qa

fix lint
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Actions/favoriteAction/FavoriteAction.tsx
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(test): use target stability in e2e upgrade tests (#6354) (#6444)
  .github/actions/cypress-e2e-testing/action.yml
  .github/workflows/cypress-e2e-parallelization.yml
  .github/workflows/web.yml
  centreon/packages/js-config/cypress/e2e/configuration.ts
  centreon/tests/e2e/features/Platform-upgrade-update/common.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix(test): use target stability in e2e upgrade tests (#6354) (#6444)
  .github/actions/cypress-e2e-testing/action.yml
  .github/workflows/cypress-e2e-parallelization.yml
  .github/workflows/web.yml
  centreon/packages/js-config/cypress/e2e/configuration.ts
  centreon/tests/e2e/features/Platform-upgrade-update/common.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

chore(release) bump Awie to 25.03.0
  centreon-awie/www/modules/centreon-awie/conf.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump awie to 25.03.0
  centreon-awie/www/modules/centreon-awie/upgrade/25.03.0/.gitignore
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump dsm to 25.03.0
  centreon-dsm/www/modules/centreon-dsm/conf.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump dsm to 25.03.0
  centreon-dsm/www/modules/centreon-dsm/upgrade/25.03.0/.gitignore
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump HA to 25.03.0
  centreon-ha/.env
Owners: none

chore(release) bump HA to 25.03.0
  centreon-ha/CHANGELOG.md
Owners: @centreon/owners-doc

chore(release) bump open tickets to 25.03.0
  centreon-open-tickets/widgets/open-tickets/configs.xml
Owners: @centreon/owners-php, @centreon/owners-qa

fix(test): use target stability in e2e upgrade tests (#6354) (#6444) (#6446)
  .github/actions/cypress-e2e-testing/action.yml
  .github/workflows/cypress-e2e-parallelization.yml
  .github/workflows/web.yml
  centreon/packages/js-config/cypress/e2e/configuration.ts
  centreon/tests/e2e/features/Platform-upgrade-update/common.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

chore(release) bump open tickets to 25.03.0
  centreon-open-tickets/www/modules/centreon-open-tickets/conf.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump open tickets to 25.03.0
  centreon-open-tickets/www/modules/centreon-open-tickets/upgrade/25.03.0/.gitignore
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 25.03.0
  centreon/www/install/insertBaseConf.sql
Owners: @centreon/owners-php, @centreon/owners-qa

fix(ci): do not build debian web dependencies container on testing
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

chore(E2E): Adding E2E test for the Refresh intervals of the top counters (#6416)
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics.feature
  centreon/tests/e2e/features/Administration/02-refresh-interval-for-statistics/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e
