Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

trigger
  centreon/www/front_src/src/App/useApp.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix (test) 2025-02-03 centreon-web-develop nightly build failure (#6564)
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

extend
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Widgets/utils.ts
  centreon/www/front_src/src/Navigation/useNavigation.ts
  centreon/www/front_src/src/Resources/Details/detailsAtoms.ts
  centreon/www/front_src/src/Resources/Details/useDetails.ts
  centreon/www/front_src/src/components/GlobalSearch/Dialog/Dialog.tsx
  centreon/www/front_src/src/components/GlobalSearch/hooks/useSearchPages.ts
  centreon/www/front_src/src/components/GlobalSearch/hooks/useSearchResources.ts
Owners: @centreon/owners-react, @centreon/owners-qa

chore(deps): absorb 2025-02 dependabot GitHub Actions updates (#6565)
  .github/actions/chromatic/action.yml
  .github/actions/cypress-e2e-testing/action.yml
  .github/actions/frontend-build/action.yml
  .github/actions/frontend-lint/action.yml
  .github/actions/lighthouse-to-s3/action.yml
  .github/actions/npm-publish-package-beta/action.yml
  .github/actions/npm-publish-package-stable/action.yml
  .github/actions/publish-cypress-report/action.yml
  .github/actions/publish-storybook/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/behat-test.yml
  .github/workflows/clean-npm-tags.yml
  .github/workflows/cypress-component-parallelization.yml
  .github/workflows/docker-glpi.yml
  .github/workflows/docker-keycloak.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/docker-stable.yml
  .github/workflows/docker-translation.yml
  .github/workflows/docker-vault.yml
  .github/workflows/docker-web-dependencies.yml
  .github/workflows/newman.yml
  .github/workflows/open-tickets.yml
  .github/workflows/synchronize-jira-xray.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

implementation of the gherkin file
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

enh (command): migrate the command arguments behat test to a cypress test (24.10.x)
  centreon/behat.yml
  centreon/features/CommandArguments.feature
  centreon/features/CommandConfiguration.feature
  centreon/features/bootstrap/CommandArgumentsContext.php
  centreon/features/bootstrap/CommandConfigurationContext.php
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

Fix(UI): Fix zoom button listeners (#6440)
  centreon/packages/ui/src/components/Zoom/useMinimap.ts
  centreon/packages/ui/src/components/Zoom/useZoom.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix tests
  centreon/tests/rest_api/behat-collections/rest_api.postman_collection.json
  centreon/tests/rest_api/behat-collections/rest_api.postman_environment.json
  centreon/tests/rest_api/collections/configuration/Broker_Input_Output.postman_collection.json
Owners: @centreon/owners-api-testing

fix?
  centreon/unattended.sh
Owners: @centreon/owners-pipelines

fix(dashboard): do not take into account UNDETERMINED days in calculation (#5071)
  centreon/www/include/reporting/dashboard/csvExport/csv_HostGroupLogs.php
  centreon/www/include/reporting/dashboard/csvExport/csv_HostLogs.php
  centreon/www/include/reporting/dashboard/csvExport/csv_ServiceGroupLogs.php
  centreon/www/include/reporting/dashboard/csvExport/csv_ServiceLogs.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  centreon/unattended.sh
Owners: @centreon/owners-pipelines

trigger
  centreon/www/front_src/src/App/useApp.ts
Owners: @centreon/owners-react, @centreon/owners-qa

linting
  centreon/packages/ui-context/src/statisticsRefreshIntervalAtom.ts
Owners: @centreon/owners-react, @centreon/owners-qa

fix(cron): run outdated tokens removal cron with apache user (#6545) (#6553)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

added database commit
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(host categories): fix SQL Query to search host categories (#6528)
  centreon/src/Core/HostCategory/Infrastructure/Repository/DbReadRealTimeHostCategoryRepository.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh(telemetry): create agent_information table & send data to CEIP
  centreon/www/api/class/centreon_ceip.class.php
  centreon/www/install/createTablesCentstorage.sql
  centreon/www/install/php/Update-25.03.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(ci): fix target stability input for cypress e2e tests
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574) (#6576)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

curl and then add to avoid file too long error
  centreon/unattended.sh
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574) (#6576)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574) (#6575)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fix target stability input for cypress e2e tests (#6574) (#6577)
  .github/actions/cypress-e2e-testing/action.yml
Owners: @centreon/owners-pipelines

fix(cron): run outdated tokens removal cron with apache user (#6545) (#6553)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

enh(host groups): call API for hostGroup deletion in form
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/hostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh (SNMP Traps): migrate the vendor configuration behat test to a cypress test
  centreon/behat.yml
  centreon/features/VendorConfiguration.feature
  centreon/features/bootstrap/VendorConfigurationContext.php
  centreon/tests/e2e/features/Snmp-Traps/03-vendor-configuration.feature
  centreon/tests/e2e/features/Snmp-Traps/03-vendor-configuration/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

fix(cron): run outdated tokens removal cron with apache user (#6545) (#6552)
  centreon/packaging/scripts/centreon-web-postinstall.sh
  centreon/tmpl/install/centreon.cron
Owners: @centreon/owners-pipelines, @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(Events Log): fix events logs refacto (#6573)
  centreon/www/include/eventLogs/xml/data.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 23.10.21
  centreon/www/install/insertBaseConf.sql
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 23.10.21
  centreon/www/install/php/Update-23.10.21.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 23.10.21
  centreon/.version
Owners: none

chore(release) bump web to 23.04.16
  centreon/www/install/insertBaseConf.sql
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) bump web to 23.04.26
  centreon/www/install/php/Update-23.04.26.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(relase) bump web to 23.04.26
  centreon/.version
Owners: none

fix(top counter): fix phpstan error
  centreon/src/Centreon/Application/Controller/Administration/ParametersController.php
Owners: @centreon/owners-php, @centreon/owners-qa

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing
