Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

Format
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
Owners: @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/commands.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

some fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/commands.ts
Owners: @centreon/owners-cypress-e2e

some fixes
  centreon/tests/e2e/features/HostGroups/02-host-group-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/commands.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fix prettier lint
  centreon/tests/e2e/features/Contacts/02-contact-group-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/06-generate-service-contact/index.ts
  centreon/tests/e2e/features/Services-configuration/10-meta-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Services-configuration/09-virtual-metric-handle/index.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fix prettier
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

skip dockerize and fixes
  .github/workflows/web.yml
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fixes
  centreon/tests/e2e/features/Contacts/02-contact-group-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

add centos 7 installation from 22.10
  centreon/unattended.sh
Owners: @centreon/owners-pipelines

chore(E2E) : Fix E2E flaky tests (24.04.x) (#6535)
  centreon/tests/e2e/features/HostGroups/02-host-group-dependency-configuration/index.ts
  centreon/tests/e2e/features/Hosts/07-host-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/06-generate-service-contact/index.ts
  centreon/tests/e2e/features/Services-configuration/09-virtual-metric-handle/index.ts
  centreon/tests/e2e/features/Services-configuration/10-meta-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/11-service-dependency-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
Owners: @centreon/owners-cypress-e2e

fix(clapi): fix getmacro php warning
  centreon/www/class/centreon-clapi/centreonObject.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(ci): remove workflow outdated create-repo-yum (#6510) (#6517)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

chore(ci): remove workflow outdated create-repo-yum (#6510) (#6516)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

chore(ci): remove workflow outdated create-repo-yum (#6510) (#6515)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

fix delete for service category
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

enh(conf) call patch endpoints for host/hostTemplate update by form (#6185)
  centreon/src/Core/HostGroup/Infrastructure/Repository/DbReadHostGroupRepository.php
  centreon/www/include/configuration/configObject/host/DB-Func.php
  centreon/www/include/configuration/configObject/host/formHost.php
  centreon/www/include/configuration/configObject/host_template_model/formHostTemplateModel.php
Owners: @centreon/owners-php, @centreon/owners-qa

Remove code duplication
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

enh(conf): call POST endpoint for hostgroup creation by form (#6312)
  centreon/www/include/configuration/configObject/hostgroup/DB-Func.php
  centreon/www/include/configuration/configObject/hostgroup/formHostGroup.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(conf): fix sql error at update (#6475) (#6512)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

Remove trailing space
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
Owners: @centreon/owners-gherkin

fix(conf): fix sql error at update (#6475) (#6518)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix duplication
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

fix dlete for services by host
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

PR reviews feedbacks, pt. 3
  centreon/www/class/centreonConfigCentreonBroker.php
Owners: @centreon/owners-php, @centreon/owners-qa

Fix
  centreon/tests/e2e/features/Commands/01-commands-configuration.feature
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
  centreon/tests/e2e/features/Commands/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

Uncomment
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

Fix
  centreon/tests/e2e/features/Commands/01-commands-configuration/index.ts
Owners: @centreon/owners-cypress-e2e

clean PR
  .github/workflows/web.yml
  centreon/packages/js-config/cypress/e2e/configuration.ts
Owners: @centreon/owners-pipelines, @centreon/owners-cypress-e2e

Remove the shell command SENDCBCFG
  centreon/www/include/configuration/configGenerate/xml/moveFiles.php
Owners: @centreon/owners-php, @centreon/owners-qa

implementation of gherkin file
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix gherkin lint
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
Owners: @centreon/owners-gherkin

test(services): improve service configuration e2e tests (#6532)
  centreon/tests/e2e/features/Services-configuration/01-service-category-configuration/index.ts
  centreon/tests/e2e/features/Services-configuration/03-service-configuration/index.ts
Owners: @centreon/owners-cypress-e2e
