Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

fix(administration/parameters): refresh intervals for statistics field should not accepts numbers less than 10 (#6381)
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

fix(administration/parameters): refresh intervals for statistics field should not accepts numbers less than 10 (#6381)
  centreon/lang/de_DE.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  centreon/lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  centreon/www/include/Administration/parameters/DB-Func.php
  centreon/www/include/Administration/parameters/general/form.php
Owners: @centreon/owners-doc, @centreon/owners-php, @centreon/owners-qa

test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  .github/docker/.env
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
Owners: @centreon/owners-pipelines

test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(PAC): Search field is empty after navigating to another page and returning (#6462)
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/Search.tsx
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/useSearch.ts
Owners: @centreon/owners-react, @centreon/owners-qa

enh (ressource status): migrate the submit result behat test to a cypress test
  centreon/behat.yml
  centreon/features/ServiceSubmitResult.feature
  centreon/features/bootstrap/ServiceSubmitResultContext.php
  centreon/tests/e2e/features/Resources-status/06-submit-result.feature
  centreon/tests/e2e/features/Resources-status/06-submit-result/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

fix(CentreonLog) : displaying of previous exception in a log fixed (#6476)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6476)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6476)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6476)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6476)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6476)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(smarty) : extends tag fixed and error handling added for the displaying of smarty templates (#6438)
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/composer.json
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/common/templates/error.ihtml
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(smarty) : extends tag fixed and error handling added for the displaying of smarty templates (#6438)
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/composer.json
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/common/templates/error.ihtml
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(smarty) : extends tag fixed and error handling added for the displaying of smarty templates (#6438)
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/composer.json
  centreon/www/api/class/centreon_configuration_broker.class.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/common/common-Func.php
  centreon/www/include/common/templates/error.ihtml
  centreon/www/include/configuration/configObject/command/formArguments.php
  centreon/www/include/configuration/configObject/command/formMacros.php
  centreon/www/install/steps/functions.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(PAC): Search field is empty after navigating to another page and … (#6500)
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/Search.tsx
  centreon/www/front_src/src/AgentConfiguration/Listing/Actions/useSearch.ts
Owners: @centreon/owners-react, @centreon/owners-qa

Update listServers.php
  centreon/www/include/configuration/configServers/listServers.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
Owners: @centreon/owners-pipelines

fix
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
Owners: @centreon/owners-pipelines

test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(deps): absorb 2025-01 dependabot GitHub Actions updates (#6473)
  .github/actions/cypress-e2e-testing/action.yml
  .github/actions/deb-delivery/action.yml
  .github/actions/frontend-build/action.yml
  .github/actions/package-nfpm/action.yml
  .github/actions/package/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/release-sources/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/actions/veracode-generate-binary/action.yml
  .github/workflows/behat-test.yml
  .github/workflows/create-repo-yum.yml
  .github/workflows/cypress-component-parallelization.yml
  .github/workflows/cypress-e2e-parallelization.yml
  .github/workflows/docker-glpi.yml
  .github/workflows/docker-keycloak.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/docker-stable.yml
  .github/workflows/docker-translation.yml
  .github/workflows/docker-vault.yml
  .github/workflows/docker-web-dependencies.yml
  .github/workflows/ha.yml
  .github/workflows/newman.yml
  .github/workflows/open-tickets.yml
  .github/workflows/package.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
Owners: @centreon/owners-pipelines

test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(ci): remove workflow outdated create-repo-yum
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

test reload
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

latest test
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

Update GeneratePollerContext.php
  centreon/features/bootstrap/GeneratePollerContext.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(CentreonLog) : displaying of previous exception in a log fixed (#6504)
  centreon/tests/php/www/class/CentreonLogTest.php
  centreon/www/class/centreonLog.class.php
Owners: @centreon/owners-php, @centreon/owners-qa

Add a constant in SmartyCentreon for the name of package centreon/smarty to improve the management of the path
  centreon-open-tickets/widgets/open-tickets/index.php
  centreon-open-tickets/widgets/open-tickets/src/export.php
  centreon-open-tickets/widgets/open-tickets/src/index.php
  centreon-open-tickets/widgets/open-tickets/src/toolbar.php
  centreon-open-tickets/www/modules/centreon-open-tickets/providers/EasyVistaRest/ajax/call.php
  centreon-open-tickets/www/modules/centreon-open-tickets/providers/Itop/ajax/call.php
  centreon/GPL_LIB/smarty-plugins/SmartyCentreon.php
  centreon/www/api/class/centreon_home_customview.class.php
  centreon/www/include/core/header/header.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(ci): remove workflow outdated create-repo-yum (#6510)
  .github/workflows/create-repo-yum.yml
Owners: @centreon/owners-pipelines

fix
  .github/docker/.env
  .github/docker/centreon-web/alma9/entrypoint/container.d/80-register_pollers_background.sh
Owners: @centreon/owners-pipelines

fix(conf): fix sql error at update (#6475)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa

Query rewriting & adding new database index
  centreon/www/include/monitoring/downtime/listDowntime.php
  centreon/www/install/installBroker.sql
  centreon/www/install/php/Update-25.02.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

Taking into account feedbacks
  centreon/www/include/monitoring/downtime/downtime.php
  centreon/www/include/monitoring/downtime/listDowntime.php
  centreon/www/install/php/Update-25.02.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh (service by host group): migrate the configuration of the host group service behat test to a cypress test (24.04.x) (#6492)
  centreon/behat.yml
  centreon/features/HostGroupServiceConfiguration.feature
  centreon/features/bootstrap/HostGroupServiceConfigurationContext.php
  centreon/tests/e2e/features/Services-configuration/12-host-group-service.feature
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/data.json
  centreon/tests/e2e/features/Services-configuration/12-host-group-service/index.ts
  centreon/tests/e2e/features/Services-configuration/commands.ts
  centreon/tests/e2e/fixtures/services/host_group.json
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

Backport([Core]): Issue with topology_id in Pollers menus (#5378)
  centreon/www/include/configuration/configServers/listServers.ihtml
  centreon/www/include/configuration/configServers/listServers.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(conf): fix sql error at update (#6475)
  centreon-dsm/www/modules/centreon-dsm/core/configuration/services/DB-Func.php
Owners: @centreon/owners-php, @centreon/owners-qa
