Repository centreon/centreon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-bash, @centreon/owners-doc, @centreon/owners-react, @centreon/owners-qa, @centreon/owners-php, @centreon/owners-perl, @centreon/owners-cypress-e2e, @centreon/owners-gherkin, @centreon/owners-python, @centreon/owners-pipelines, @centreon/release-management, @centreon/owners-api-testing

.github/CODEOWNERS:

*.sh                                    @centreon/owners-bash

*.po                                    @centreon/owners-doc
*.md                                    @centreon/owners-doc
*.mdx                                   @centreon/owners-doc

**/www/widgets/                         @centreon/owners-react @centreon/owners-qa

**/config/                              @centreon/owners-php @centreon/owners-qa
**/composer.*                           @centreon/owners-php @centreon/owners-qa
**/tests/api/                           @centreon/owners-php @centreon/owners-qa
**/tests/php/                           @centreon/owners-php @centreon/owners-qa
**/tests/clapi_export/                  @centreon/owners-php @centreon/owners-qa
**/www/                                 @centreon/owners-php @centreon/owners-qa
**/tmpl/                                @centreon/owners-php @centreon/owners-qa
**/bin/                                 @centreon/owners-php @centreon/owners-qa
*.xml                                   @centreon/owners-php @centreon/owners-qa
**/phpstan.neon                         @centreon/owners-php @centreon/owners-qa
*.php                                   @centreon/owners-php @centreon/owners-qa
*.xsl                                   @centreon/owners-php @centreon/owners-qa

**/www/front_src/                       @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa
centreon/cypress                        @centreon/owners-react @centreon/owners-qa
package.json                            @centreon/owners-react @centreon/owners-qa
package-lock.json                       @centreon/owners-react @centreon/owners-qa
webpack*                                @centreon/owners-react @centreon/owners-qa
babel.config.js                         @centreon/owners-react @centreon/owners-qa
tsconfig.json                           @centreon/owners-react @centreon/owners-qa
.prettierrc.js                          @centreon/owners-react @centreon/owners-qa
.eslint*                                @centreon/owners-react @centreon/owners-qa
.csslintrc                              @centreon/owners-react @centreon/owners-qa
*.ts                                    @centreon/owners-react @centreon/owners-qa
*.tsx                                   @centreon/owners-react @centreon/owners-qa
*.jsx                                   @centreon/owners-react @centreon/owners-qa
**/cypress/**                           @centreon/owners-react @centreon/owners-qa

*.pm                                    @centreon/owners-perl
*.pl                                    @centreon/owners-perl

**/tests/e2e/**                         @centreon/owners-cypress-e2e
**/cypress/e2e/**                       @centreon/owners-cypress-e2e

*.feature                               @centreon/owners-gherkin

*.py                                    @centreon/owners-python

.github/**                              @centreon/owners-pipelines
**/.project                             @centreon/owners-pipelines
**/selinux/                             @centreon/owners-pipelines
**/project/                             @centreon/owners-pipelines
**/packaging/                           @centreon/owners-pipelines
dependencies/**                         @centreon/owners-pipelines
.coderabbit.yml                         @centreon/owners-pipelines
**/unattended.sh                        @centreon/owners-pipelines

**/config/features.json                 @centreon/release-management

**/tests/rest_api/**                    @centreon/owners-api-testing

fix(ci): update slimtoolkit setup in dockerize
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

Apply suggestions from code review
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

remove carriage return
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

feedbacks
  centreon/src/Core/Infrastructure/Common/Api/Router.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesResponse.php
  centreon/src/Core/Service/Infrastructure/Serializer/DeleteServicesStatusResponseNormalizer.php
  centreon/tests/php/Core/Infrastructure/Common/Api/RouterTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

restore slim instead of mint during setup
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): do not build debian web dependencies container on testing (#6448)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): do not build debian web dependencies container on testing (#6448)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix services endpoint
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
  centreon/www/front_src/src/Resources/Filter/api/endpoint.ts
  centreon/www/front_src/src/Resources/Filter/criteriasNewInterface/basicFilter/SelectInput.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ci): do not build debian web dependencies container on testing (#6450)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

chore(release) bump web to 25.03.0
  centreon/www/install/php/Update-25.03.0.php
Owners: @centreon/owners-php, @centreon/owners-qa

chore(release) oss web to 25.03.0
  .version
Owners: none

fix(ci): add cloud condition to docker web dependencies
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

chnamged the wrong mocked endpoint
  centreon/www/front_src/src/Resources/Filter/Filter.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

update url for setup docker slim
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

bump docker slim version in setup docker slim
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix successive clicks
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardCardActions/DashboardCardActions.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardConfig/DashboardConfigModal.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Actions/favoriteAction/FavoriteAction.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Columns/Actions/Actions.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardsOverview/DashboardsOverview.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

feedbacks
  centreon/src/Core/Infrastructure/Common/Api/StandardPresenter.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServices.php
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesResponse.php
  centreon/tests/php/Core/Service/Application/UseCase/DeleteServices/DeleteServicesTest.php
Owners: @centreon/owners-php, @centreon/owners-qa

fix(ci): update slimtoolkit setup in dockerize
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

[E2E] Remove unecessary test combinaison on cloud notifications
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create/index.ts
Owners: @centreon/owners-gherkin, @centreon/owners-cypress-e2e

fix
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
Owners: @centreon/owners-gherkin

active tests on pr
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

add use case for disabled
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

style
  centreon/src/Core/Service/Application/UseCase/DeleteServices/DeleteServicesResponse.php
Owners: @centreon/owners-php, @centreon/owners-qa

delete one contact from first scenario
  centreon/tests/e2e/features/Cloud-notifications/01-notification-create.feature
Owners: @centreon/owners-gherkin

fix(ci): update slimtoolkit setup in dockerize (#6449)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6455)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6456)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

fix(ci): update slimtoolkit setup in dockerize (#6457)
  .github/workflows/web.yml
Owners: @centreon/owners-pipelines

Merge branch 'develop' of github.com:centreon/centreon into develop
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardCardActions/DashboardCardActions.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Actions/favoriteAction/FavoriteAction.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardListing/Columns/Actions/Actions.tsx
  centreon/www/front_src/src/Dashboards/components/DashboardLibrary/DashboardsOverview/DashboardsOverview.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

add use case for disabled
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.cypress.spec.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

fix(ci): add cloud condition to docker web dependencies (#6453)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): add cloud condition to docker web dependencies (#6453)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(ci): add cloud condition to docker web dependencies (#6453) (#6460)
  .github/workflows/docker-web-dependencies.yml
Owners: @centreon/owners-pipelines

fix(contact): fix contact group deletion for contact on remote server
  centreon/www/include/configuration/configObject/contact/DB-Func.php
  centreon/www/include/configuration/configObject/contact/formContact.php
Owners: @centreon/owners-php, @centreon/owners-qa

enh (escalation): migrate the configuration of the escalations behat test to a cypress test (24.04.x) (#6404)
  centreon/behat.yml
  centreon/features/EscalationConfiguration.feature
  centreon/features/bootstrap/EscalationConfigurationContext.php
  centreon/tests/e2e/features/Notifications/01-escalation-configuration.feature
  centreon/tests/e2e/features/Notifications/01-escalation-configuration/index.ts
  centreon/tests/e2e/features/Notifications/commands.ts
  centreon/tests/e2e/fixtures/notifications/escalation.json
  centreon/tests/e2e/support/commands.ts
Owners: @centreon/owners-gherkin, @centreon/owners-php, @centreon/owners-qa, @centreon/owners-cypress-e2e

Update WidgetSelection.tsx
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/AddEditWidget/WidgetProperties/WidgetSelection.tsx
Owners: @centreon/owners-react, @centreon/owners-qa

backport
  centreon/www/front_src/src/Dashboards/SingleInstancePage/Dashboard/Dashboard.tsx
Owners: @centreon/owners-react, @centreon/owners-qa
