Repository centreon/centreon, pull requests merged in 2018-11, with the labels that each got.

#6931 fix(doc): correct typo
  doc/en/administration_guide/poller/install_poller.rst
  doc/en/administration_guide/poller/wizard_add_poller.rst
  doc/en/migration/pollerdisplaytoremoteserver.rst
  doc/fr/administration_guide/poller/install_poller.rst
  doc/fr/administration_guide/poller/install_remote_server.rst
  doc/fr/administration_guide/poller/ssh_key.rst
  doc/fr/administration_guide/poller/wizard_add_poller.rst
  doc/fr/migration/pollerdisplaytoremoteserver.rst
Labels: kind/documentation

#6922 enh(doc): improve number of vCPU in prerequisites chapter
  doc/en/installation/prerequisites.rst
  doc/fr/installation/prerequisites.rst
Labels: kind/documentation

#6913 fix(doc): update installation documentation to full EL7
  doc/en/installation/from_iso.rst
  doc/fr/installation/from_iso.rst
Labels: area/install, kind/documentation

#6942 enh(doc): enhance installation documentation about database
  doc/en/installation/from_packages.rst
  doc/fr/installation/from_packages.rst
Labels: area/install, kind/documentation

#6937 enh(database): optimize partitioning during fresh install
  www/class/centreon-partition/partEngine.class.php
  www/install/steps/process/partitionTables.php
Labels: area/install

#6966 enh(doc): Improve distributed architecture chapters
  doc/en/administration_guide/poller/enable_remote.rst
  doc/en/administration_guide/poller/index.rst
  doc/en/administration_guide/poller/install_poller.rst
  doc/en/administration_guide/poller/install_poller_iso.rst
  doc/en/administration_guide/poller/install_poller_packages.rst
  doc/en/administration_guide/poller/install_remote_server.rst
  doc/en/administration_guide/poller/install_remote_server_iso.rst
  doc/en/administration_guide/poller/install_remote_server_packages.rst
  doc/en/administration_guide/poller/ssh_key.rst
  doc/en/administration_guide/poller/wizard_add_poller.rst
  doc/en/administration_guide/poller/wizard_add_remote.rst
  doc/en/images/architecture/Architecture_distributed_remote.png
  doc/en/images/user/alanguage.png
  doc/en/installation/common/install_iso.rst
  doc/en/installation/common/install_packages.rst
  doc/en/installation/common/post_install.rst
  doc/en/installation/common/web_install.rst
  doc/en/installation/from_VM.rst
  doc/en/installation/from_iso.rst
  doc/en/installation/from_packages.rst
  doc/en/installation/from_sources.rst
  doc/en/migration/pollerdisplaytoremoteserver.rst
  doc/en/migration/upgradetoCentreon18.10.rst
  doc/en/quick_start/add_host_from_template.rst
  doc/en/upgrade/index.rst
  doc/fr/administration_guide/poller/enable_remote.rst
  doc/fr/administration_guide/poller/index.rst
  doc/fr/administration_guide/poller/install_poller.rst
  doc/fr/administration_guide/poller/install_poller_iso.rst
  doc/fr/administration_guide/poller/install_poller_packages.rst
  doc/fr/administration_guide/poller/install_remote_server.rst
  doc/fr/administration_guide/poller/install_remote_server_iso.rst
  doc/fr/administration_guide/poller/install_remote_server_packages.rst
  doc/fr/administration_guide/poller/ssh_key.rst
  doc/fr/administration_guide/poller/wizard_add_poller.rst
  doc/fr/administration_guide/poller/wizard_add_remote.rst
  doc/fr/images/architecture/Architecture_distributed_remote.png
  doc/fr/installation/common/install_iso.rst
  doc/fr/installation/common/install_packages.rst
  doc/fr/installation/common/post_install.rst
  doc/fr/installation/common/web_install.rst
  doc/fr/installation/from_VM.rst
  doc/fr/installation/from_iso.rst
  doc/fr/installation/from_packages.rst
  doc/fr/installation/from_sources.rst
  doc/fr/migration/pollerdisplaytoremoteserver.rst
  doc/fr/migration/upgradetoCentreon18.10.rst
  doc/fr/upgrade/index.rst
Labels: area/configuration, kind/documentation, kind/enhancement

#6948 fix(clapi): fix export of hostgroup services
  www/class/centreon-clapi/centreonHostGroupService.class.php
Labels: area/api, area/configuration, kind/bug

#6919 fix(broker): fix export of cbd watchdog logs path
  www/class/config-generate/broker.class.php
Labels: area/broker, area/configuration, kind/bug

#6975 fix(widget): fix widget upgrade if directory has changed
  src/CentreonLegacy/Core/Widget/Factory.php
  src/CentreonLegacy/Core/Widget/Information.php
  src/CentreonLegacy/Core/Widget/Installer.php
  src/CentreonLegacy/Core/Widget/Upgrader.php
  tests/php/CentreonLegacy/Core/Widget/InformationTest.php
  tests/php/CentreonLegacy/Core/Widget/InstallerTest.php
  tests/php/CentreonLegacy/Core/Widget/UpgraderTest.php
  www/include/options/oreon/widgets/action.php
Labels: area/widgets, kind/bug, priority/major
