Repository centreon/centreon, pull requests merged in 2018-04, with the labels that each got.

#6191 fix(conf): Insert info in log_action when user use deploy services
  www/class/centreon-clapi/centreonHost.class.php
  www/class/centreonHost.class.php
Labels: area/configuration, kind/bug

#6189 enh(doc): Add chapter about how to write a stream connector
  doc/en/_static/images/developer/lua/add_parameter.png
  doc/en/_static/images/developer/lua/add_stream_connector.png
  doc/en/_static/images/developer/lua/archi_broker_lua_script.png
  doc/en/_static/images/developer/lua/archi_broker_regular.png
  doc/en/_static/images/developer/lua/archi_broker_stream.png
  doc/en/_static/images/developer/lua/broker_influxdb_output.png
  doc/en/_static/images/developer/lua/describe_output.png
  doc/en/_static/images/developer/lua/visualize_data_grafana.png
  doc/en/developer/index.rst
  doc/en/developer/writestreamconnector.rst
  doc/fr/_static/images/developper/lua/add_parameter.png
  doc/fr/_static/images/developper/lua/add_stream_connector.png
  doc/fr/_static/images/developper/lua/archi_broker_lua_script.png
  doc/fr/_static/images/developper/lua/archi_broker_regular.png
  doc/fr/_static/images/developper/lua/archi_broker_stream.png
  doc/fr/_static/images/developper/lua/broker_influxdb_output.png
  doc/fr/_static/images/developper/lua/describe_output.png
  doc/fr/_static/images/developper/lua/visualize_data_grafana.png
  doc/fr/developper/index.rst
  doc/fr/developper/writestreamconnector.rst
Labels: kind/documentation, kind/enhancement

#6188 Rest api rt temporary acl fix
  tests/clapi_export/clapi-configuration.txt
  www/api/class/centreon_administration_widget.class.php
  www/api/class/centreon_clapi.class.php
  www/api/class/centreon_configuration_objects.class.php
  www/api/class/centreon_home_customview.class.php
  www/api/class/centreon_keepalive.class.php
  www/api/class/centreon_metric.class.php
  www/api/class/centreon_proxy.class.php
  www/api/class/centreon_realtime_base.class.php
  www/api/class/centreon_results_acceptor.class.php
  www/api/class/centreon_wiki.class.php
  www/api/class/webService.class.php
  www/api/index.php
  www/api/internal.php
  www/class/centreon-clapi/centreonContact.class.php
  www/class/centreonUser.class.php
  www/include/configuration/configObject/contact/DB-Func.php
  www/include/configuration/configObject/contact/formContact.ihtml
  www/include/configuration/configObject/contact/formContact.php
  www/include/configuration/configObject/contact/help.php
  www/install/createTables.sql
  www/install/sql/centreon/Update-DB-2.8.20_to_2.8.21.sql
Labels: area/api, kind/security

#6182 fix(doc): Add documentation on API Rest permissions
  doc/en/api/api_rest/index.rst
  doc/fr/api/api_rest/index.rst
Labels: area/api, kind/documentation
