Repository centreon/centreon, pull requests merged in 2018-02, with the labels that each got.

#6052 Typo and format fixes of Lua Outputs section
  doc/en/administration_guide/02l.rst
Labels: area/documentation

#6053 Fix Lua outputs section
  doc/fr/administration_guide/02l.rst
Labels: area/documentation

#6046 Fix (CLAPI) : uninitialized array causing php warning
  www/class/centreon-clapi/centreonCentbrokerCfg.class.php
Labels: area/api, kind/enhancement

#6074 Patch clapi select filter
  www/class/centreon-clapi/centreonAPI.class.php
Labels: area/api, kind/enhancement

#6076 chore(login): update copyright date on the login page.
  www/include/core/login/template/login.ihtml
Labels: area/install

#6069 fix(acl): SNMP trap poller generation
  www/include/configuration/configGenerateTraps/formGenerateTraps.php
Labels: area/acl, area/configuration

#6054 Add views - Filter And Sort
  www/api/class/centreon_home_customview.class.php
Labels: area/custom-views, kind/enhancement
