Repository centreon/centreon, pull requests merged in 2019-12, with the labels that each got.

#8159 fix(widget): fix user with no widget preferences
  www/class/centreonCustomView.class.php
  www/class/centreonWidget.class.php
Labels: area/custom-views, kind/bug

#8158 fix(widget): fix user with no widget preferences
  www/class/centreonCustomView.class.php
  www/class/centreonWidget.class.php
Labels: area/custom-views, kind/bug

#8165 fix(traps) Can't save a trap configuration
  www/class/centreonTraps.class.php
Labels: area/configuration, kind/bug

#8085 feat(api): Add some new parameters
  doc/en/api/api_rest/index.rst
  doc/en/api/clapi/objects/hosts.rst
  doc/fr/api/api_rest/index.rst
  doc/fr/api/clapi/objects/hosts.rst
  www/class/centreon-clapi/centreonHost.class.php
Labels: area/api, kind/enhancement

#8169 fix(sql): prepare update traps query
  www/class/centreonTraps.class.php
Labels: area/configuration, kind/bug

#8160 enh(core): generate centreon gorgone configuration file
  www/class/config-generate/abstract/object.class.php
  www/install/steps/process/configFileSetup.php
  www/install/var/configFileGorgoneTemplate
Labels: area/configuration, area/install, kind/beta-test, kind/feature

#8191 fix(clapi): fix overlapping in clapi export
  tests/clapi_export/clapi-configuration.txt
  www/class/centreon-clapi/centreonHost.class.php
Labels: area/api, area/configuration, kind/bug

#8178 enh(smarty/tpl): simplify the initSmartyTplForPopup function & compatibility
  www/include/common/common-Func.php
Labels: area/custom-views, area/widgets, kind/enhancement

#8172 enh(chore) replace centcore by gorgone
  doc/en/faq/remote_server.rst
  doc/fr/faq/remote_server.rst
  libinstall/CentCore.sh
  libinstall/functions
  logrotate/centcore
  src/Centreon/Infrastructure/Service/CentcoreConfigService.php
  tmpl/install/debian/centcore.default
  tmpl/install/debian/centcore.init.d
  tmpl/install/redhat/centcore.init.d
  tmpl/install/redhat/centcore.sysconfig
  tmpl/install/redhat/centcore.systemd
  tmpl/install/suse/centcore.init.d
  tmpl/install/suse/centcore.sysconfig
  www/class/centreon-clapi/centreonSettings.class.php
  www/include/Administration/parameters/DB-Func.php
  www/include/Administration/parameters/api/help.php
  www/install/sql/centreon/Update-DB-20.04.0-beta.1.sql
  www/install/var/baseconf/centreon-broker.sql
Labels: area/install, kind/feature

#8202 Update doc add warning php conf
  doc/en/upgrade/from_packages_1904.rst
  doc/fr/upgrade/from_packages_1904.rst
Labels: kind/documentation

#8209 enh(core): remove centcore script from centreon
  lib/perl/centreon/script/centcore.pm
Labels: area/install, kind/feature

#8206 fix(UI): do not display gorgone options on central's form
  www/include/configuration/configServers/formServers.ihtml
  www/include/configuration/configServers/formServers.php
  www/include/configuration/configServers/servers.php
Labels: area/configuration, kind/bug, kind/experimental

#8216 enh(admin): adapt broker stats page to new folder tree
  www/include/Administration/brokerPerformance/brokerPerformance.php
Labels: area/administration, area/broker, kind/feature

#8221 fix(doc): Remove Extended Settings paragraph for TP
  doc/en/configuration_guide/timeperiod.rst
  doc/fr/configuration_guide/timeperiod.rst
Labels: kind/bug, kind/documentation

#8200 fix(filter) apply second filter whatever the first
  www/include/monitoring/status/ServicesServiceGroups/xml/serviceSummaryBySGXML.php
Labels: area/monitoring, kind/bug

#8180 fix(install): update libinstall scripts for Centreon 19.10.x
  libinstall/CentWeb.sh
  libinstall/functions
Labels: area/install, kind/bug

#8188 fix(install): modify the libinstall/functions file for APIv2
  libinstall/functions
Labels: area/install, kind/bug

#8203 fix(code) fix search image
  www/include/options/media/images/listImg.php
Labels: area/configuration, kind/bug, status/in-backlog

#8211 fix(clapi): use downtime_id to show and cancel rtdowntimes (master)
  lib/Centreon/Object/Downtime/RtDowntime.php
  www/class/centreon-clapi/centreonRtDowntime.class.php
Labels: area/api, area/configuration, kind/bug

#8212 fix(clapi): use downtime_id to show and cancel rtdowntimes (19.x)
  lib/Centreon/Object/Downtime/RtDowntime.php
  www/class/centreon-clapi/centreonRtDowntime.class.php
Labels: area/api, area/configuration, kind/bug

#8204 fix(engine): Deletion of excess code from PR #7591 (#8196)
  www/include/configuration/configNagios/DB-Func.php
Labels: area/configuration, area/engine, kind/bug

#8214 fix(bug): remove PHP warning in centreon_configuration_service class
  www/api/class/centreon_configuration_service.class.php
Labels: area/api, kind/bug

#8194 fix(chart): Re allow to use wildcard in curve definition
  www/class/centreonGraph.class.php
  www/class/centreonGraphNg.class.php
Labels: area/chart, kind/bug, priority/minor
