Repository centreon/centreon, pull requests merged in 2019-08, with the labels that each got.

#7627 Mon 3631 ldap manual or auto refresh synchronization feature for 19.04
  cron/centAcl-Func.php
  cron/centAcl.php
  doc/en/administration_guide/parameters.rst
  doc/en/developer/writemodule.rst
  doc/en/images/guide_exploitation/eldap.png
  doc/en/images/guide_exploitation/eldap2.png
  doc/en/images/guide_exploitation/eldap3.png
  doc/en/images/guide_exploitation/eldap4.png
  doc/en/release_notes/centreon-19.04/centreon-19.04.4.rst
  doc/fr/administration_guide/parameters.rst
  doc/fr/developper/writemodule.rst
  doc/fr/images/guide_exploitation/eldap.png
  doc/fr/images/guide_exploitation/eldap2.png
  doc/fr/images/guide_exploitation/eldap3.png
  doc/fr/images/guide_exploitation/eldap4.png
  doc/fr/release_notes/centreon-19.04/centreon-19.04.4.rst
  features/bootstrap/ServiceSubmitResultContext.php
  lang/es_ES.UTF-8/LC_MESSAGES/help.po
  lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  lang/fr_FR.UTF-8/LC_MESSAGES/help.po
  lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_BR.UTF-8/LC_MESSAGES/help.po
  lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_PT.UTF-8/LC_MESSAGES/help.po
  lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  src/Centreon/Domain/Entity/Task.php
  src/Centreon/Infrastructure/Event/EventDispatcher.php
  src/CentreonRemote/Domain/Value/ServerWizardIdentity.php
  tests/clapi_export/clapi-configuration.txt
  www/api/class/centreon_ldap_synchro.class.php
  www/api/class/centreon_topcounter.class.php
  www/class/centreonAuth.LDAP.class.php
  www/class/centreonAuth.SSO.class.php
  www/class/centreonAuth.class.php
  www/class/centreonContactgroup.class.php
  www/class/centreonLDAP.class.php
  www/class/centreonLogAction.class.php
  www/class/centreonMsg.class.php
  www/img/icons/refresh-gray.png
  www/include/Administration/parameters/ldap/DB-Func.php
  www/include/Administration/parameters/ldap/form.ihtml
  www/include/Administration/parameters/ldap/form.php
  www/include/Administration/parameters/ldap/help.php
  www/include/Administration/parameters/ldap/javascript/ldapJs.php
  www/include/Administration/parameters/ldap/ldap.php
  www/include/Administration/parameters/ldap/list.php
  www/include/Administration/parameters/parameters.php
  www/include/common/javascript/centreon/dateMoment.js
  www/include/configuration/configObject/contact/DB-Func.php
  www/include/configuration/configObject/contact/contact.php
  www/include/configuration/configObject/contact/listContact.ihtml
  www/include/configuration/configObject/contact/listContact.php
  www/include/core/login/login.php
  www/include/options/accessLists/reloadACL/reloadACL.php
  www/include/options/session/connected_user.ihtml
  www/include/options/session/connected_user.php
  www/include/views/graphs/graphStatus/displayServiceStatus.php
  www/install/createTables.sql
  www/install/php/Update-19.04.4.php
Labels: area/administration, area/ldap, area/performance

#7736 fix(internal api): add ACL to select meta-services for services
  www/api/class/centreon_performance_service.class.php
Labels: area/acl, area/chart, kind/bug, priority/major

#7680 enh(remote-server): allow to use direct ssh connection to poller from central
  doc/en/administration_guide/poller/add_manually_a_poller.rst
  doc/en/images/user/configuration/10advanced_configuration/07addpoller.png
  doc/fr/administration_guide/poller/add_manually_a_poller.rst
  doc/fr/images/guide_utilisateur/configuration/10advanced_configuration/07addpoller.png
  lang/fr_FR.UTF-8/LC_MESSAGES/help.po
  lib/perl/centreon/script/centcore.pm
  tests/clapi_export/clapi-configuration.txt
  www/include/configuration/configServers/DB-Func.php
  www/include/configuration/configServers/formServers.ihtml
  www/include/configuration/configServers/formServers.php
  www/include/configuration/configServers/help.php
  www/install/createTables.sql
  www/install/sql/centreon/Update-DB-19.10.0-beta.3.sql
Labels: area/configuration, area/monitoring, kind/enhancement

#7779 Update version to 19.10.0-beta.3.
  doc/en/release_notes/centreon-19.10/centreon-19.10.0-beta.3.rst
  doc/en/release_notes/centreon-19.10/index.rst
  doc/fr/release_notes/centreon-19.10/centreon-19.10.0-beta.3.rst
  doc/fr/release_notes/centreon-19.10/index.rst
  www/install/insertBaseConf.sql
  www/install/php/Update-19.10.0-beta.3.php
Labels: area/install

#7795 upgrade(lib): upgrade centreon-react-components version
  package-lock.json
  package.json
Labels: area/install, kind/performance

#7700 Mon 3958 key cloak addon centreon authentication
  doc/en/administration_guide/keycloak.rst
  doc/en/administration_guide/parameters.rst
  doc/en/images/guide_exploitation/keycloak_configuration.png
  doc/fr/administration_guide/keycloak.rst
  doc/fr/administration_guide/parameters.rst
  doc/fr/images/guide_exploitation/keycloak_configuration.png
  lang/es_ES.UTF-8/LC_MESSAGES/help.po
  lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  lang/fr_FR.UTF-8/LC_MESSAGES/help.po
  lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_BR.UTF-8/LC_MESSAGES/help.po
  lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_PT.UTF-8/LC_MESSAGES/help.po
  lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  www/class/centreonAuth.SSO.class.php
  www/include/Administration/parameters/DB-Func.php
  www/include/Administration/parameters/general/form.ihtml
  www/include/Administration/parameters/general/form.php
  www/include/Administration/parameters/general/help.php
  www/include/core/login/login.php
  www/include/core/login/processLogin.php
  www/include/core/login/template/login.ihtml
Labels: area/authentication, kind/feature

#7752 Mon 4086 multiselect on severity preference
  www/api/class/centreon_configuration_host_severity.class.php
  www/class/centreonHostcategories.class.php
  www/class/centreonWidget/Params/Connector/HostSeverityMulti.class.php
  www/install/insertBaseConf.sql
  www/install/sql/centreon/Update-DB-19.10.0-beta.3.sql
Labels: area/configuration, kind/enhancement

#7778 Correction on custom view using spanish
  lang/es_ES.UTF-8/LC_MESSAGES/messages.po
Labels: area/custom-views, area/translation, kind/bug
