Repository centreon/centreon, pull requests merged in 2019-04, with the labels that each got.

#7233 fix(monitoring): remove double encoding of host name
  www/include/monitoring/status/Services/serviceJS.php
Labels: area/monitoring

#7079 fix(status details): Fix hide password in command line
  www/include/monitoring/objectDetails/common-func.php
Labels: area/monitoring, kind/security

#7324 Doc minor improvement
  doc/en/administration_guide/poller/install_poller_iso.rst
  doc/en/administration_guide/poller/ssh_key.rst
  doc/en/administration_guide/poller/wizard_add_poller.rst
  doc/en/images/user/configuration/10advanced_configuration/07installpoller.png
  doc/en/installation/common/install_iso.rst
  doc/en/installation/common/install_packages.rst
  doc/en/installation/common/post_install.rst
  doc/en/installation/common/web_install.rst
  doc/en/installation/from_VM.rst
  doc/en/installation/prerequisites.rst
  doc/en/life_cycle.rst
  doc/en/migration/upgradetoCentreon18.10.rst
  doc/en/upgrade/from_packages.rst
  doc/en/upgrade/index.rst
  doc/fr/administration_guide/poller/install_poller_iso.rst
  doc/fr/administration_guide/poller/ssh_key.rst
  doc/fr/images/guide_utilisateur/configuration/10advanced_configuration/07installpoller.png
  doc/fr/installation/common/install_iso.rst
  doc/fr/installation/common/install_packages.rst
  doc/fr/installation/common/post_install.rst
  doc/fr/installation/common/web_install.rst
  doc/fr/installation/from_VM.rst
  doc/fr/lifecycle.rst
  doc/fr/migration/upgradetoCentreon18.10.rst
Labels: kind/documentation, kind/enhancement

#7265 fix(api) Use the web service or initialize it
  www/api/class/webService.class.php
Labels: area/api

#7347 fix(install) Get the ip address of an existing connection to set the permission correctly
  www/install/steps/process/createDbUser.php
Labels: area/install, kind/bug

#7374 Improve ceip install update
  cron/centreon-send-stats.php
  www/install/step_upgrade/process/process_step5.php
  www/install/step_upgrade/step5.php
Labels: area/install, kind/enhancement

#7380 enh(systemd): use /etc/sysconfig/cent* files to get options
  tmpl/install/redhat/centcore.systemd
  tmpl/install/redhat/centreontrapd.systemd
Labels: area/install, kind/bug

#7195 fix(install): Remove obsolete rrdtool configuration and sources
  doc/en/administration_guide/parameters.rst
  doc/en/images/guide_exploitation/errdtool.png
  doc/fr/administration_guide/parameters.rst
  doc/fr/images/guide_exploitation/errdtool.png
  www/include/Administration/corePerformance/processCommands.php
  www/include/Administration/parameters/DB-Func.php
  www/include/Administration/parameters/rrdtool/form.ihtml
  www/include/Administration/parameters/rrdtool/form.php
  www/include/Administration/parameters/rrdtool/help.php
  www/install/insertBaseConf.sql
  www/install/sql/centreon/Update-DB-19.04.0.sql
Labels: area/install

#7348 Mon 3561 hosts configuration and pagination
  www/class/centreon.class.php
  www/include/common/autoNumLimit.php
  www/include/common/checkPagination.php
  www/include/common/common-Func.php
  www/include/common/pagination.php
  www/include/configuration/configCentreonBroker/listCentreonBroker.php
  www/include/configuration/configNagios/listNagios.php
  www/include/configuration/configObject/command/command.php
  www/include/configuration/configObject/command/listCommand.ihtml
  www/include/configuration/configObject/command/listCommand.php
  www/include/configuration/configObject/connector/listConnector.php
  www/include/configuration/configObject/contact/listContact.php
  www/include/configuration/configObject/contact_template_model/listContactTemplateModel.php
  www/include/configuration/configObject/contactgroup/listContactGroup.php
  www/include/configuration/configObject/escalation/listEscalation.php
  www/include/configuration/configObject/host/formHost.php
  www/include/configuration/configObject/host/listHost.ihtml
  www/include/configuration/configObject/host/listHost.php
  www/include/configuration/configObject/host_categories/listHostCategories.php
  www/include/configuration/configObject/host_dependency/listHostDependency.php
  www/include/configuration/configObject/host_template_model/listHostTemplateModel.php
  www/include/configuration/configObject/hostgroup/DB-Func.php
  www/include/configuration/configObject/hostgroup/listHostGroup.php
  www/include/configuration/configObject/hostgroup_dependency/listHostGroupDependency.php
  www/include/configuration/configObject/meta_service/listMetaService.php
  www/include/configuration/configObject/metaservice_dependency/listMetaServiceDependency.php
  www/include/configuration/configObject/service/listService.ihtml
  www/include/configuration/configObject/service/listServiceByHost.php
  www/include/configuration/configObject/service/listServiceByHostGroup.php
  www/include/configuration/configObject/service_categories/listServiceCategories.php
  www/include/configuration/configObject/service_template_model/listServiceTemplateModel.php
  www/include/configuration/configObject/servicegroup/listServiceGroup.php
  www/include/configuration/configObject/servicegroup_dependency/listServiceGroupDependency.php
  www/include/configuration/configObject/timeperiod/listTimeperiod.php
  www/include/configuration/configObject/traps-groups/listGroups.php
  www/include/configuration/configObject/traps-manufacturer/listMnftr.php
  www/include/configuration/configObject/traps/listTraps.php
  www/include/configuration/configResources/listResources.php
  www/include/configuration/configServers/listServers.php
  www/main.get.php
Labels: kind/bug, kind/enhancement

#7345 Mon 3570 filter status
  www/include/core/header/header.php
  www/include/monitoring/status/Services/service.php
  www/include/monitoring/status/Services/templates/service.ihtml
Labels: area/monitoring

#7328 enh(ceip): Add additional statistics including modules if present
  cron/centreon-send-stats.php
  doc/en/ceip.rst
  doc/fr/ceip.rst
  www/class/centreonStatistics.class.php
  www/class/centreonStatsModules.class.php
  www/class/centreonVersion.class.php
Labels: kind/enhancement

#7325 Use httpd24-httpd service in the documentation.
  doc/en/administration_guide/parameters.rst
  doc/en/developer/translatecentreon.rst
  doc/en/faq/performance.rst
  doc/en/faq/remote_server.rst
  doc/en/installation/common/install_packages.rst
  doc/en/installation/from_sources.rst
  doc/en/installation/prerequisites.rst
  doc/en/upgrade/from_packages.rst
  doc/fr/administration_guide/parameters.rst
  doc/fr/developper/translatecentreon.rst
  doc/fr/faq/performance.rst
  doc/fr/faq/remote_server.rst
  doc/fr/installation/common/install_packages.rst
  doc/fr/installation/from_sources.rst
  doc/fr/installation/prerequisites.rst
  doc/fr/upgrade/from_packages.rst
Labels: kind/documentation

#7399 enh(doc):Improve Sizing spreadsheet
  doc/en/files/Centreon_platform_sizing.xlsx
  doc/fr/files/Centreon_platform_sizing.xlsx
Labels: area/documentation

#7225 fix(api): update token generator …
  www/api/index.php
Labels: area/api, area/authentication, kind/enhancement

#7416 fix(update): execute PHP update from 2.8.27
  www/install/php/Update-2.8.27_to_18.10.0.php
Labels: area/install

#7397 Mon 3659 mediawiki configuration and pagination
  www/class/centreon-knowledge/procedures.class.php
  www/class/centreon-knowledge/procedures_Proxy.class.php
  www/class/centreon-knowledge/wiki.class.php
  www/class/centreon-knowledge/wikiApi.class.php
  www/include/common/autoNumLimit.php
  www/include/common/pagination.php
  www/include/configuration/configKnowledge/display-hostTemplates.php
  www/include/configuration/configKnowledge/display-hosts.php
  www/include/configuration/configKnowledge/display-serviceTemplates.php
  www/include/configuration/configKnowledge/display-services.php
  www/include/configuration/configKnowledge/pagination.php
  www/include/configuration/configKnowledge/popup_form.php
  www/include/configuration/configKnowledge/proxy/proxy.php
  www/include/configuration/configKnowledge/search.php
  www/include/core/header/htmlHeader.php
  www/install/step_upgrade/step5.php
Labels: area/configuration, area/knowledge-base, kind/bug, kind/enhancement

#7429 fix(ui): missing french translations in the graph page
  lang/fr/LC_MESSAGES/messages.po
Labels: area/chart, area/translation, area/ux

#7448 enh(doc): update install/update/migrate chapters in FR & EN for 19.04
  doc/en/_static/images/installation/extension_popin.png
  doc/en/_static/images/installation/install_imp_1.png
  doc/en/_static/images/installation/install_imp_2.png
  doc/en/_static/images/quick_start/pp_base_generic.png
  doc/en/administration_guide/extensions.rst
  doc/en/conf.py
  doc/en/faq/general.rst
  doc/en/images/user/aconnection.png
  doc/en/images/user/module_installationa.png
  doc/en/images/user/module_installationb.png
  doc/en/installation/common/install_packages.rst
  doc/en/installation/from_sources.rst
  doc/en/migration/index.rst
  doc/en/quick_start/basic_plugins.rst
  doc/en/upgrade/from_packages_1810.rst
  doc/en/upgrade/from_packages_34.rst
  doc/en/upgrade/from_sources.rst
  doc/en/upgrade/index.rst
  doc/fr/_static/images/installation/extension_popin.png
  doc/fr/_static/images/installation/install_imp_1.png
  doc/fr/_static/images/installation/install_imp_2.png
  doc/fr/_static/images/quick_start/pp_base_generic.png
  doc/fr/administration_guide/extensions.rst
  doc/fr/conf.py
  doc/fr/faq/general.rst
  doc/fr/images/guide_utilisateur/aconnection.png
  doc/fr/images/guide_utilisateur/module_installationa.png
  doc/fr/images/guide_utilisateur/module_installationb.png
  doc/fr/installation/common/install_packages.rst
  doc/fr/installation/from_sources.rst
  doc/fr/migration/index.rst
  doc/fr/quick_start/basic_plugins.rst
  doc/fr/upgrade/from_packages_1810.rst
  doc/fr/upgrade/from_packages_34.rst
  doc/fr/upgrade/from_sources.rst
  doc/fr/upgrade/index.rst
Labels: area/install, kind/documentation

#7496 enh(doc): add restriction on SQL strict mode for dedicated server
  doc/en/installation/common/install_packages.rst
  doc/fr/installation/common/install_packages.rst
Labels: area/install, kind/documentation

#7501 enh(doc): create distant MySQL root user for installation
  doc/en/installation/common/install_packages.rst
  doc/fr/installation/common/install_packages.rst
Labels: area/install, kind/documentation, kind/enhancement
