Repository centreon/centreon, pull requests merged in 2020-01, with the labels that each got.

#7912 Update links to the dummy module.
  doc/en/developer/writemodule.rst
  doc/fr/developper/writemodule.rst
Labels: kind/documentation, kind/enhancement

#8224 fix(sec): upgrade javascript dependencies (handlebars)
  package-lock.json
  package.json
Labels: kind/security

#8228 fix(doc): correct second phase for 19.04 release
  doc/en/_static/images/lifecycle.png
  doc/fr/_static/images/lifecycle.png
Labels: area/documentation, kind/bug, priority/minor

#8226 fix(composer): add missing files in sources - #8222
  .gitattributes
Labels: area/install, kind/bug, priority/major

#8225 enh(doc): enhance openapi spec
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
Labels: area/api, area/documentation, kind/enhancement

#8232 enh(doc): enhance openapi spec
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
Labels: area/api, area/documentation, kind/enhancement

#8227 fix(doc): remove obsolete paragraph - #8176
  doc/en/faq/performance.rst
  doc/fr/faq/performance.rst
Labels: area/documentation, area/monitoring

#8201 fix(clapi): improve getparam for host
  doc/en/api/api_rest/index.rst
  doc/fr/api/api_rest/index.rst
  www/class/centreon-clapi/centreonHost.class.php
Labels: area/api, kind/bug, priority/minor

#8243 fix(api): Update the POST proxy request by PUT
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Application/Controller/Configuration/ProxyController.php
Labels: area/api, kind/enhancement

#7943 enh(sec) Improve authentication messages in login.log
  www/class/centreonAuth.class.php
  www/class/centreonLog.class.php
Labels: area/security, kind/enhancement, kind/security, status/in-backlog

#8245 fix(install): install api/index.php file
  libinstall/CentWeb.sh
  libinstall/functions
Labels: area/install, kind/bug

#8234 enh(core): better manage exceptions and upgrade failure
  lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  www/class/centreonLog.class.php
  www/install/php/Update-20.04.0-beta.1.php
  www/install/step_upgrade/step4.php
Labels: area/install

#8253 fix: servicegroup details displayed status
  www/include/monitoring/status/ServicesServiceGroups/xml/serviceGridBySGXML.php
Labels: area/monitoring, area/ux, kind/bug

#8229 enh(core): update script to manage gorgone configuration file
  lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  www/install/php/Update-20.04.0-beta.1.php
  www/install/steps/process/configFileSetup.php
  www/install/var/configFileGorgoneTemplate
Labels: area/configuration, area/install

#8255 fix(helper) fix path of the check command
  www/include/configuration/configObject/command/minHelpCommand.php
Labels: area/configuration, kind/bug

#8218 enh(ui): Use centreon-ui for all top counters
  lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  www/front_src/src/components/header/header.scss
  www/front_src/src/components/hostMenu/index.js
  www/front_src/src/components/serviceStatusMenu/index.js
Labels: area/ui, kind/enhancement

#8238 fix(eventlogs): allow to filter on disabled objects
  www/class/centreonACL.class.php
Labels: area/monitoring, kind/bug, priority/minor

#8235 chore(core): Migrate Root component and config files to support TypeScript
  .eslintrc.js
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
  www/front_src/src/App.tsx
  www/front_src/src/declaration.d.ts
Labels: area/ui, kind/enhancement

#8270 enh(core): Add a yaml configuration loader
  src/Centreon/Domain/ConfigurationLoader/YamlConfigurationLoader.php
  tests/php/Centreon/Domain/ConfigurationLoader/YamlConfigurationLoaderTest.php
  tests/php/Centreon/Domain/ConfigurationLoader/child1.yaml
  tests/php/Centreon/Domain/ConfigurationLoader/child3.yaml
  tests/php/Centreon/Domain/ConfigurationLoader/conf.d/child2.yaml
  tests/php/Centreon/Domain/ConfigurationLoader/conf.d/child3.yaml
  tests/php/Centreon/Domain/ConfigurationLoader/conf.d/child5.yaml
  tests/php/Centreon/Domain/ConfigurationLoader/root_file.yaml
  tests/php/Centreon/Domain/ConfigurationLoader/root_file_with_loop.yaml
Labels: kind/feature

#8268 Mon 4634 check command helper option
  www/include/configuration/configObject/command/minHelpCommand.php
Labels: area/configuration, kind/enhancement

#8262 fix(autologin) keep uri parameters.
  www/include/core/login/processLogin.php
Labels: area/ux, kind/bug

#8170 enh(charts): add new methods in graph backend
  www/api/class/centreon_customview.class.php
  www/api/class/centreon_home_customview.class.php
  www/api/class/centreon_metric.class.php
  www/class/centreonGraphNg.class.php
  www/class/centreonMetrics.class.php
  www/class/centreonWidget/Params/Connector/MetricMulti.class.php
  www/include/home/customViews/widgetParam.html
Labels: area/chart, area/custom-views, area/widgets, kind/enhancement

#8279 enh(lint) : Update Eslint and TypeScript parser
  package-lock.json
  package.json
  www/front_src/src/App.tsx
  www/front_src/src/components/breadcrumbWrapper/index.jsx
  www/front_src/src/components/breadcrumbWrapper/index.test.jsx
  www/front_src/src/components/form-fields/hoc.js
  www/front_src/src/components/forms/ServerConfigurationWizardForm.js
  www/front_src/src/components/forms/poller/PollerFormStepTwo.jsx
  www/front_src/src/components/forms/poller/PollerFormStepTwo.test.jsx
  www/front_src/src/components/forms/remoteServer/RemoteServerFormStepTwo.js
  www/front_src/src/components/header/index.js
  www/front_src/src/components/hostMenu/index.js
  www/front_src/src/components/pollerMenu/index.js
  www/front_src/src/components/progressBar/index.js
  www/front_src/src/components/reactRouter/index.js
  www/front_src/src/components/serviceStatusMenu/index.js
  www/front_src/src/components/tooltip/index.js
  www/front_src/src/components/userMenu/index.js
  www/front_src/src/components/wizardFormInstallingStatus/index.js
  www/front_src/src/helpers/dynamicImport.js
  www/front_src/src/helpers/extras/global.js
  www/front_src/src/index.js
  www/front_src/src/redux/actions/bamConfigurationActions.js
  www/front_src/src/redux/actions/navigationActions.js
  www/front_src/src/redux/reducers/bamConfigurationReducer.js
  www/front_src/src/redux/reducers/globalsReducer.js
  www/front_src/src/redux/reducers/index.js
  www/front_src/src/redux/reducers/navigationReducer.js
  www/front_src/src/redux/sagas/axios.js
  www/front_src/src/redux/sagas/bam.js
  www/front_src/src/redux/sagas/index.js
  www/front_src/src/redux/selectors/navigation/allowedPages.js
  www/front_src/src/redux/selectors/navigation/allowedPages.test.js
  www/front_src/src/redux/selectors/navigation/breadcrumbs.js
  www/front_src/src/redux/selectors/navigation/menu.js
  www/front_src/src/redux/selectors/navigation/menu.test.js
  www/front_src/src/redux/selectors/navigation/reactRoutes.js
  www/front_src/src/redux/selectors/navigation/reactRoutes.test.js
  www/front_src/src/route-components/administration/extensions/manager/index.js
  www/front_src/src/route-components/pollerStep1/index.js
  www/front_src/src/route-components/pollerStep2/index.js
Labels: area/ui

#8257 fix(filter) fix select2 Services by Hostgroup filter
  www/include/monitoring/status/ServicesHostGroups/serviceGridByHG.php
  www/include/monitoring/status/ServicesHostGroups/serviceGridByHGJS.php
Labels: area/monitoring, kind/bug

#8260 fix(filter) fix service grid display filter
  www/include/monitoring/status/Services/serviceGrid.php
  www/include/monitoring/status/Services/serviceSummary.php
  www/include/monitoring/status/Services/xml/serviceSummaryXML.php
Labels: area/monitoring, kind/bug

#8286 fix(graph): manage timezone on zoom
  www/include/views/graphs/graphs.html
Labels: area/chart, area/custom-views, kind/bug

#8276 MON-4737 enh(core): split gorgone configuration in different files
  www/install/steps/process/configFileSetup.php
  www/install/var/config.yaml
  www/install/var/configFileGorgoneTemplate
  www/install/var/databaseTemplate.yaml
  www/install/var/gorgone/gorgoneCoreTemplate.yaml
Labels: area/install, kind/experimental, kind/feature

#8256 fix(filters): save service state filters to get consistent data on refresh
  www/include/monitoring/status/Common/setHistory.php
  www/include/monitoring/status/Services/service.php
  www/include/monitoring/status/Services/xml/serviceXML.php
Labels: area/monitoring, kind/bug, kind/enhancement

#8265 fix(UI): correct hostgoup detail problems filter
  www/include/monitoring/status/ServicesHostGroups/serviceGridByHG.php
  www/include/monitoring/status/ServicesHostGroups/xml/serviceGridByHGXML.php
  www/include/monitoring/status/ServicesHostGroups/xml/serviceSummaryByHGXML.php
  www/include/monitoring/status/ServicesServiceGroups/serviceGridBySG.php
  www/include/monitoring/status/monitoringService.php
Labels: area/monitoring, kind/bug

#8244 refactor(ui): Remove unused javascript code
  jest.config.js
  package-lock.json
  package.json
  www/front_src/src/axios/index.js
  www/front_src/src/components/button/index.js
  www/front_src/src/components/form-fields/MultiSelect.js
  www/front_src/src/components/form-fields/PasswordInputField.js
  www/front_src/src/components/form-fields/index.js
  www/front_src/src/components/reactRouter/index.js
  www/front_src/src/helpers/autoLoginTokenGenerator.js
  www/front_src/src/helpers/menu.js
  www/front_src/src/helpers/validators.js
  www/front_src/src/redux/actions/bamConfigurationActions.js
  www/front_src/src/redux/reducers/globalsReducer.js
  www/front_src/src/redux/reducers/index.js
  www/front_src/src/redux/sagas/axios.js
  www/front_src/src/route-components/administration/extensions/manager/index.js
  www/front_src/src/route-maps/index.js
  www/front_src/src/route-maps/reactRoutes.js
  www/front_src/src/services/navApi.js
  www/front_src/src/services/wizardFormApi.js
  www/front_src/src/store/index.js
Labels: area/ui, kind/enhancement

#8274 enh(front): import common chunks and bundles separately
  src/Centreon/Domain/Service/FrontendComponentService.php
  tsconfig.json
  www/front_src/src/components/hook/index.js
  www/front_src/src/helpers/dynamicImport.js
Labels: area/ui
