Repository centreon/centreon, pull requests merged in 2020-02, with the labels that each got.

#8311 fix(ui): Fix icons not loading and live reload (19.10.x)
  webpack.config.dev.js
  webpack.config.js
Labels: area/ui

#8313 fix(ui): Fix fonticons not loading (19.04.x)
  webpack.config.js
Labels: area/ui

#8314 enh(UI): Add nowrap style to badge class - from aladdinchan
  www/Themes/Centreon-2/style.css
Labels: area/monitoring, kind/enhancement, pr/external, status/accepted

#8305 fix(ui): Add hash:8 suffix to font files to avoid asset conflicts and optimize Webpack config
  .gitignore
  Jenkinsfile
  babel.config.js
  build.xml
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.dev.js
  webpack.config.js
  www/front_src/src/components/breadcrumbWrapper/__snapshots__/index.test.jsx.snap
  www/front_src/src/components/breadcrumbWrapper/index.jsx
  www/front_src/src/components/breadcrumbWrapper/index.test.jsx
  www/front_src/src/components/forms/poller/PollerFormStepTwo.test.jsx
  www/front_src/src/components/forms/poller/__snapshots__/PollerFormStepTwo.test.jsx.snap
  www/front_src/src/components/hostMenu/index.js
  www/front_src/src/components/serviceStatusMenu/index.js
  www/front_src/src/helpers/dynamicImport.js
  www/front_src/src/helpers/extras/global.js
  www/front_src/src/index.js
  www/front_src/src/redux/selectors/navigation/allowedPages.js
  www/front_src/src/redux/selectors/navigation/breadcrumbs.js
  www/front_src/src/redux/selectors/navigation/menu.js
  www/front_src/src/redux/selectors/navigation/reactRoutes.js
  www/front_src/src/translations/index.js
Labels: area/ui, kind/fix, pr/internal-rd

#8315 Mon 4622 adapt endpoint to gorgone
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Domain/Entity/NagiosServer.php
  src/Centreon/Domain/MonitoringServer/MonitoringServer.php
Labels: area/api, kind/documentation, kind/enhancement, pr/internal-rd, status/needs-attention

#8233 Mon 4640 remove deprecated engine fields
  lang/es_ES.UTF-8/LC_MESSAGES/help.po
  lang/es_ES.UTF-8/LC_MESSAGES/messages.po
  lang/fr_FR.UTF-8/LC_MESSAGES/help.po
  lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_BR.UTF-8/LC_MESSAGES/help.po
  lang/pt_BR.UTF-8/LC_MESSAGES/messages.po
  lang/pt_PT.UTF-8/LC_MESSAGES/help.po
  lang/pt_PT.UTF-8/LC_MESSAGES/messages.po
  src/CentreonRemote/Domain/Resources/DefaultConfig/CfgNagios.php
  src/CentreonRemote/Domain/Resources/RemoteConfig/CfgNagios.php
  tests/clapi_export/clapi-configuration.txt
  www/class/centreon-config/centreonMainCfg.class.php
  www/class/config-generate/engine.class.php
  www/include/configuration/configNagios/DB-Func.php
  www/include/configuration/configNagios/formNagios.ihtml
  www/include/configuration/configNagios/formNagios.php
  www/include/configuration/configNagios/help.php
  www/install/createTables.sql
  www/install/sql/centreon/Update-DB-20.04.0-beta.1.sql
  www/install/var/baseconf/centreon-engine.sql
Labels: area/configuration, area/engine, kind/enhancement, pr/internal-rd, status/needs-attention

#8312 Mon 4790 add missing fields
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Domain/Monitoring/Host.php
  src/Centreon/Domain/Monitoring/Service.php
  src/Centreon/Infrastructure/Monitoring/MonitoringRepositoryRDB.php
Labels: area/api, kind/documentation, kind/enhancement, pr/internal-rd, status/needs-attention

#8320 enh(mobile): add third level menu in mobile
  www/include/common/mobile_menu.php
Labels: area/ux, kind/enhancement, pr/internal-rd

#8317 Mon 4834 educate user menus access
  doc/en/administration_guide/acl.rst
  doc/fr/administration_guide/acl.rst
  www/include/common/javascript/tool.js
Labels: area/acl, area/configuration, kind/documentation, kind/security, pr/internal-rd, status/needs-attention

#8322 enh(doc): external PR documentation
  CONTRIBUTING.md
Labels: area/documentation, kind/documentation, pr/internal-rd

#8323 sec(doc): add SECURITY.md template
  SECURITY.md
Labels: area/documentation, kind/security, pr/internal-rd, status/needs-attention

#8327 fix(remote): configuration export includes deprecated engine fields
  www/class/config-generate-remote/Engine.php
Labels: area/configuration, kind/fix, pr/internal-rd

#8261 enh(core): Add an encryption system for external modules
  composer.json
  config/Modules/Centreon.yaml
  config/bootstrap.php
  config/services.yaml
  container.php
  src/Centreon/Domain/Entity/EntityCreator.php
  src/Centreon/Domain/Entity/EntityValidator.php
  src/Centreon/LegacyContainer.php
  src/EventSubscriber/CentreonEventSubscriber.php
  src/Security/Encryption.php
  src/Security/Interfaces/EncryptionInterface.php
  tests/php/Security/EncryptionTest.php
Labels: area/api, kind/enhancement, pr/internal-rd, status/needs-attention

#8326 fix(popup) check session id
  www/include/core/footer/footerPart.php
  www/include/monitoring/external_cmd/popup/popup.php
Labels: area/monitoring, kind/fix, pr/internal-rd, priority/blocker, status/needs-attention

#8316 Mon 4623 remote config
  src/Kernel.php
  www/include/Administration/parameters/DB-Func.php
  www/include/Administration/parameters/gorgone/gorgone.ihtml
  www/include/Administration/parameters/gorgone/gorgone.php
  www/include/configuration/configServers/formServers.ihtml
  www/include/configuration/configServers/listServers.ihtml
  www/include/configuration/configServers/listServers.php
  www/include/configuration/configServers/popup/poller.yaml
  www/include/configuration/configServers/popup/popup.ihtml
  www/include/configuration/configServers/popup/popup.php
  www/include/configuration/configServers/popup/remote.yaml
  www/install/insertBaseConf.sql
  www/install/sql/centreon/Update-DB-20.04.0-beta.1.sql
Labels: area/configuration, kind/feature, pr/internal-rd, status/needs-attention

#8336 fix(doc): simple typo
  doc/en/exploitation_guide/Real_time_action.rst
Labels: area/monitoring, kind/documentation, pr/external

#8337 fix(UI): correct blank CSS page
  www/include/Administration/parameters/css/form.php
Labels: area/administration, kind/bug, pr/internal-rd

#8339 fix(query): remove pdo error in status filters
  www/include/monitoring/status/Services/xml/serviceSummaryXML.php
Labels: area/monitoring, kind/bug, pr/internal-rd

#8319 chore(config): Use @centreon/frontend-core for build configuration
  .eslintrc.js
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  webpack.config.dev.js
  webpack.config.js
  www/front_src/src/App.tsx
  www/front_src/src/components/Hook/index.tsx
  www/front_src/src/components/ReactRouter/index.tsx
  www/front_src/src/components/header/index.js
  www/front_src/src/components/hook/index.js
  www/front_src/src/components/mainRouter/index.js
  www/front_src/src/components/reactRouter/index.js
  www/front_src/src/redux/reducers/externalComponentsReducer.js
  www/front_src/src/route-components/administration/extensions/manager/index.js
  www/front_src/src/store/index.js
  www/front_src/src/styles/partials/_content.scss
Labels: area/ui, kind/enhancement, pr/internal-rd, status/needs-merge

#8318 enh(api): make acknowledgement endpoints consistent with downtimes
  config/Modules/Centreon.yaml
  config/packages/validator/validation.yaml
  config/routes/Centreon/acknowledgement.yaml
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Application/Controller/AcknowledgementController.php
  src/Centreon/Application/Controller/DowntimeController.php
  src/Centreon/Domain/Acknowledgement/Acknowledgement.php
  src/Centreon/Domain/Acknowledgement/AcknowledgementService.php
  src/Centreon/Domain/Acknowledgement/Interfaces/AcknowledgementRepositoryInterface.php
  src/Centreon/Domain/Acknowledgement/Interfaces/AcknowledgementServiceInterface.php
  src/Centreon/Domain/Engine/Interfaces/EngineServiceInterface.php
  src/Centreon/Infrastructure/Acknowledgement/AcknowledgementRepositoryRDB.php
  src/Centreon/Infrastructure/Acknowledgement/AcknowledgmentRepositoryRDB.php
  tests/php/Centreon/Domain/Acknowledgement/AcknowledgementServiceTest.php
Labels: area/api, kind/enhancement, pr/internal-rd, status/needs-attention

#8347 enh(apiv2): add new endpoint for servicegroup listing
  config/routes/Centreon/monitoring.yaml
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Application/Controller/MonitoringHostsController.php
  src/Centreon/Application/Controller/MonitoringServicesController.php
  src/Centreon/Domain/Monitoring/Interfaces/MonitoringServiceInterface.php
  src/Centreon/Domain/Monitoring/MonitoringService.php
  src/Centreon/Infrastructure/Monitoring/MonitoringRepositoryRDB.php
  tests/php/Centreon/Domain/Monitoring/MonitoringServiceTest.php
Labels: area/api, kind/feature, pr/internal-rd

#8309 doc(api): define contract of resource listing endpoint
  doc/API/README.md
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
Labels: area/api, kind/documentation, pr/internal-rd

#8341 fix(core): source installation script fixes
  bin/centreon
  bin/console
  doc/en/installation/common/install_packages.rst
  doc/en/installation/common/web_install.rst
  doc/en/installation/from_sources.rst
  doc/en/upgrade/from_sources.rst
  doc/fr/installation/common/install_packages.rst
  doc/fr/installation/common/web_install.rst
  doc/fr/installation/from_sources.rst
  doc/fr/upgrade/from_sources.rst
  install.sh
  libinstall/CentCore.sh
  libinstall/CentPlugins.sh
  libinstall/CentPluginsTraps.sh
  libinstall/CentStorage.sh
  libinstall/CentWeb.sh
  libinstall/cinstall
  libinstall/functions
  libinstall/gettext
  varinstall/vars
Labels: area/install, kind/documentation, kind/enhancement, kind/fix, pr/internal-rd

#8345 feat(api): add endpoint to get metrics and status data from a service
  config/Modules/Centreon.yaml
  config/routes/Centreon/monitoring/metric.yaml
  config/routes/centreon.yaml
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Application/Controller/Monitoring/MetricController.php
  src/Centreon/Domain/Monitoring/Metric/Interfaces/MetricRepositoryInterface.php
  src/Centreon/Domain/Monitoring/Metric/Interfaces/MetricServiceInterface.php
  src/Centreon/Domain/Monitoring/Metric/MetricService.php
  src/Centreon/Infrastructure/Monitoring/Metric/MetricRepositoryLegacy.php
  tests/php/Centreon/Application/Controller/Monitoring/MetricControllerTest.php
  tests/php/Centreon/Domain/Monitoring/Metric/MetricServiceTest.php
Labels: area/api, kind/feature, pr/internal-rd

#8359 fix(install): replace macro in cron files
  libinstall/CentWeb.sh
Labels: area/install, kind/bug, kind/enhancement, pr/internal-rd

#8360 enh(doc): remove useless checks
  doc/en/installation/from_sources.rst
  doc/fr/installation/from_sources.rst
Labels: area/documentation, area/install, pr/internal-rd

#8364 enh(doc): correct typo
  doc/en/installation/from_sources.rst
  doc/fr/installation/from_sources.rst
Labels: area/documentation, kind/documentation, pr/internal-rd

#8366 fix(trapd): correct export on poller behind RS
  lib/perl/centreon/script/centcore.pm
Labels: area/remote-server, kind/bug, pr/internal-ps, pr/internal-rd

#8349 enh(api): allow to order hosts and services by last state change
  src/Centreon/Infrastructure/Monitoring/MonitoringRepositoryRDB.php
Labels: area/api, kind/enhancement, pr/internal-rd

#8368 enh(core): update licenses
  www/include/monitoring/comments/AddComment.php
  www/include/monitoring/comments/AddHostComment.php
  www/include/monitoring/comments/AddSvcComment.php
  www/include/monitoring/comments/commentHost.php
  www/include/monitoring/comments/comments.php
  www/include/monitoring/comments/common-Func.php
  www/include/monitoring/comments/listComment.php
Labels: area/documentation, pr/internal-rd

#8333 feat(api): add endpoints to check host or service
  config/packages/serializer/Centreon/Check.Check.yml
  config/packages/serializer/Centreon/Downtime.Downtime.yml
  config/packages/validator/validation.yaml
  config/routes/Centreon/check.yaml
  doc/API/centreon-api-v2.html
  doc/API/centreon-api-v2.yaml
  src/Centreon/Application/Controller/CheckController.php
  src/Centreon/Domain/Check/Check.php
  src/Centreon/Domain/Check/CheckService.php
  src/Centreon/Domain/Check/Interfaces/CheckServiceInterface.php
  src/Centreon/Domain/Contact/Contact.php
  src/Centreon/Domain/Engine/EngineService.php
  src/Centreon/Domain/Engine/Interfaces/EngineServiceInterface.php
  src/Centreon/Domain/Entity/EntityValidator.php
  src/Centreon/Domain/Service/JsonValidator/Interfaces/JsonValidatorInterface.php
  src/Centreon/Infrastructure/Contact/ContactRepositoryRDB.php
  src/EventSubscriber/CentreonEventSubscriber.php
  tests/php/Centreon/Domain/Check/CheckServiceTest.php
Labels: area/api, kind/feature, pr/internal-rd

#8367 fix(web): delete comments
  www/include/monitoring/comments/commentHost.php
  www/include/monitoring/comments/comments.php
  www/include/monitoring/comments/common-Func.php
Labels: area/monitoring, kind/bug, pr/internal-rd

#8375 fix(webpack): Adapt font regexp path for Windows
  webpack.config.js
Labels: area/ui

#8371 feat(ui): Implement Resources listing
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.dev.js
  webpack.config.js
  www/front_src/src/App.tsx
  www/front_src/src/Resources/api/endpoint.ts
  www/front_src/src/Resources/api/index.ts
  www/front_src/src/Resources/columns/icons/Downtime.tsx
  www/front_src/src/Resources/columns/icons/downtime.icon.svg
  www/front_src/src/Resources/columns/index.tsx
  www/front_src/src/Resources/index.test.tsx
  www/front_src/src/Resources/index.tsx
  www/front_src/src/Resources/models.ts
  www/front_src/src/Resources/translatedLabels.ts
  www/front_src/src/__mocks__/axios.ts
  www/front_src/src/components/ReactRouter/index.tsx
  www/front_src/src/declaration.d.ts
  www/front_src/src/route-maps/reactRoutes.js
  www/front_src/src/route-maps/route-map.js
Labels: area/ui
